In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
team_poss_fp = []
x = 1980
while x <= 2020:
    fp = '../data/team_100poss/' + str(x) + '_team_100poss.csv'
    team_poss_fp.append(fp)
    x += 1
team_poss_fp

['../data/team_100poss/1980_team_100poss.csv',
 '../data/team_100poss/1981_team_100poss.csv',
 '../data/team_100poss/1982_team_100poss.csv',
 '../data/team_100poss/1983_team_100poss.csv',
 '../data/team_100poss/1984_team_100poss.csv',
 '../data/team_100poss/1985_team_100poss.csv',
 '../data/team_100poss/1986_team_100poss.csv',
 '../data/team_100poss/1987_team_100poss.csv',
 '../data/team_100poss/1988_team_100poss.csv',
 '../data/team_100poss/1989_team_100poss.csv',
 '../data/team_100poss/1990_team_100poss.csv',
 '../data/team_100poss/1991_team_100poss.csv',
 '../data/team_100poss/1992_team_100poss.csv',
 '../data/team_100poss/1993_team_100poss.csv',
 '../data/team_100poss/1994_team_100poss.csv',
 '../data/team_100poss/1995_team_100poss.csv',
 '../data/team_100poss/1996_team_100poss.csv',
 '../data/team_100poss/1997_team_100poss.csv',
 '../data/team_100poss/1998_team_100poss.csv',
 '../data/team_100poss/1999_team_100poss.csv',
 '../data/team_100poss/2000_team_100poss.csv',
 '../data/team_100poss/2001_team_100poss.csv',
 '../data/team_100poss/2002_team_100poss.csv',
 '../data/team_100poss/2003_team_100poss.csv',
 '../data/team_100poss/2004_team_100poss.csv',
 '../data/team_100poss/2005_team_100poss.csv',
 '../data/team_100poss/2006_team_100poss.csv',
 '../data/team_100poss/2007_team_100poss.csv',
 '../data/team_100poss/2008_team_100poss.csv',
 '../data/team_100poss/2009_team_100poss.csv',
 '../data/team_100poss/2010_team_100poss.csv',
 '../data/team_100poss/2011_team_100poss.csv',
 '../data/team_100poss/2012_team_100poss.csv',
 '../data/team_100poss/2013_team_100poss.csv',
 '../data/team_100poss/2014_team_100poss.csv',
 '../data/team_100poss/2015_team_100poss.csv',
 '../data/team_100poss/2016_team_100poss.csv',
 '../data/team_100poss/2017_team_100poss.csv',
 '../data/team_100poss/2018_team_100poss.csv',
 '../data/team_100poss/2019_team_100poss.csv',
 '../data/team_100poss/2020_team_100poss.csv']

In [3]:
team_poss_80 = pd.read_csv(team_poss_fp[0])
team_poss_80['year'] = 1980
team_poss_80.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19755,42.8,85.9,0.498,0.6,2.3,0.252,...,12.8,27.9,40.7,25.8,8.6,3.7,17.6,23.3,108.6,1980
1,2,Los Angeles Lakers*,82,19880,45.2,85.5,0.529,0.2,1.2,0.200,...,12.6,30.8,43.4,28.0,9.0,6.3,19.0,20.7,109.5,1980
2,3,Cleveland Cavaliers,82,19930,43.4,91.7,0.474,0.4,2.1,0.193,...,14.9,27.1,42.0,24.0,8.7,3.9,15.6,22.0,106.7,1980
3,4,New York Knicks,82,19780,43.3,87.4,0.496,0.5,2.2,0.220,...,14.1,26.2,40.3,25.8,10.0,5.2,18.4,24.7,106.5,1980
4,5,Boston Celtics*,82,19880,42.6,86.9,0.490,1.9,5.0,0.384,...,14.4,28.9,43.3,25.9,9.5,3.6,18.1,23.2,109.4,1980

In [4]:
team_poss_81 = pd.read_csv(team_poss_fp[1])
team_poss_81['year'] = 1981
team_poss_81.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets,82,19955,41.5,87.2,0.475,0.3,1.6,0.207,...,14.5,27.4,41.9,22.2,7.9,4.2,15.8,23.1,109.4,1981
1,2,Milwaukee Bucks*,82,19755,43.6,87.6,0.498,0.4,1.5,0.229,...,14.8,28.2,43.0,27.2,10.1,6.2,18.5,25.8,108.7,1981
2,3,San Antonio Spurs*,82,19805,42.1,85.7,0.491,0.2,1.0,0.176,...,15.4,30.4,45.8,24.1,8.1,7.6,18.1,24.9,108.5,1981
3,4,Philadelphia 76ers*,82,19855,42.5,82.7,0.514,0.2,1.0,0.226,...,12.8,30.6,43.4,27.7,10.0,6.9,19.9,24.1,107.0,1981
4,5,Los Angeles Lakers*,82,19805,44.6,87.1,0.512,0.2,1.1,0.181,...,13.7,29.4,43.1,27.9,9.5,6.5,18.4,23.1,107.6,1981

In [5]:
team_poss_82 = pd.read_csv(team_poss_fp[2])
team_poss_82['year'] = 1982
team_poss_82.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19830,43.9,84.4,0.520,0.4,1.6,0.268,...,12.7,26.9,39.6,25.0,7.3,4.1,16.2,23.5,114.3,1982
1,2,Los Angeles Lakers*,82,19855,45.9,88.9,0.517,0.2,1.1,0.138,...,14.7,29.4,44.1,27.6,9.9,6.1,17.2,23.4,110.2,1982
2,3,San Antonio Spurs*,82,19755,43.8,90.2,0.486,0.8,3.0,0.254,...,14.8,30.1,44.9,26.7,7.1,6.6,15.3,26.3,109.9,1982
3,4,Boston Celtics*,82,19780,43.7,87.7,0.499,0.6,2.2,0.266,...,15.0,29.8,44.7,25.4,7.8,6.8,17.4,24.1,109.8,1982
4,5,Philadelphia 76ers*,82,19855,43.5,83.8,0.518,0.5,1.7,0.295,...,12.4,28.7,41.1,27.2,10.3,7.5,17.7,26.2,109.6,1982

In [6]:
team_poss_83 = pd.read_csv(team_poss_fp[3])
team_poss_83['year'] = 1983
team_poss_83.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19730,42.9,86.8,0.494,0.3,1.4,0.190,...,13.2,27.4,40.6,25.4,8.6,3.8,16.2,22.7,109.7,1983
1,2,Los Angeles Lakers*,82,19730,46.4,88.0,0.528,0.1,1.1,0.104,...,14.5,28.5,43.0,29.5,9.9,5.6,18.6,22.6,110.5,1983
2,3,San Antonio Spurs*,82,19780,43.4,86.2,0.504,1.1,3.6,0.305,...,14.5,30.5,45.0,26.5,7.9,5.5,17.7,24.6,110.1,1983
3,4,Kansas City Kings,82,19780,42.3,85.2,0.497,0.6,2.4,0.237,...,14.3,27.4,41.7,24.5,8.7,4.7,19.3,27.7,106.2,1983
4,5,Dallas Mavericks,82,19730,43.5,89.4,0.487,0.5,2.2,0.232,...,15.3,28.2,43.5,26.4,6.5,4.1,16.0,24.5,109.4,1983

In [7]:
team_poss_84 = pd.read_csv(team_poss_fp[4])
team_poss_84['year'] = 1984
team_poss_84.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19805,43.2,87.6,0.493,0.8,2.8,0.302,...,12.4,26.8,39.2,27.2,7.8,3.9,14.7,25.0,111.3,1984
1,2,San Antonio Spurs,82,19980,44.1,87.1,0.506,0.9,3.0,0.300,...,13.9,28.5,42.4,26.6,7.7,5.5,16.3,24.2,111.2,1984
2,3,Detroit Pistons*,82,19905,44.1,91.9,0.480,0.4,1.6,0.227,...,16.6,28.3,44.8,26.2,8.1,4.8,15.2,25.3,111.5,1984
3,4,Los Angeles Lakers*,82,19780,45.1,84.8,0.532,0.7,2.6,0.257,...,12.8,29.2,42.1,28.7,8.5,5.6,18.5,24.0,110.9,1984
4,5,Utah Jazz*,82,19780,41.7,83.7,0.498,1.2,3.7,0.319,...,12.7,29.2,41.8,25.8,8.0,7.0,17.5,22.9,109.0,1984

In [8]:
team_poss_85 = pd.read_csv(team_poss_fp[5])
team_poss_85['year'] = 1985
team_poss_85.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19830,43.6,89.7,0.486,0.8,2.6,0.311,...,15.0,25.9,40.9,25.5,10.1,4.8,15.5,24.2,110.7,1985
1,2,Los Angeles Lakers*,82,19755,46.5,85.4,0.545,1.1,3.5,0.305,...,12.5,30.0,42.5,30.3,8.2,5.7,18.1,22.7,114.1,1985
2,3,Detroit Pistons*,82,19830,44.3,92.2,0.480,0.5,2.3,0.226,...,16.2,29.2,45.4,26.5,8.0,4.6,15.5,23.9,109.6,1985
3,4,Portland Trail Blazers*,82,19880,43.2,86.0,0.503,0.6,2.4,0.252,...,14.0,26.8,40.8,25.9,9.6,6.0,17.3,22.8,110.4,1985
4,5,Kansas City Kings,82,19755,42.6,84.6,0.504,0.7,2.8,0.265,...,13.6,27.1,40.7,27.2,7.7,3.5,18.5,25.2,109.5,1985

In [9]:
team_poss_86 = pd.read_csv(team_poss_fp[6])
team_poss_86['year'] = 1986
team_poss_86.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Los Angeles Lakers*,82,19830,45.2,86.5,0.522,1.6,4.8,0.337,...,13.0,30.1,43.1,28.7,8.2,4.9,17.3,23.9,113.3,1986
1,2,Dallas Mavericks*,82,19805,43.1,86.0,0.501,1.7,5.3,0.316,...,12.6,29.1,41.7,25.0,7.2,4.4,15.3,20.6,112.1,1986
2,3,Portland Trail Blazers*,82,19855,41.8,84.2,0.496,0.9,3.2,0.269,...,13.3,26.8,40.1,25.2,9.9,4.1,17.7,25.5,109.2,1986
3,4,Denver Nuggets*,82,19755,42.2,89.6,0.471,0.8,3.5,0.233,...,13.9,26.4,40.3,24.4,9.4,4.8,15.2,24.6,107.1,1986
4,5,Milwaukee Bucks*,82,19805,42.7,86.8,0.493,1.5,4.5,0.327,...,14.1,28.7,42.8,25.6,9.6,5.5,16.2,26.2,111.4,1986

In [10]:
team_poss_87 = pd.read_csv(team_poss_fp[7])
team_poss_87['year'] = 1987
team_poss_87.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Portland Trail Blazers*,82,19805,42.1,83.6,0.504,1.1,3.9,0.289,...,13.6,27.8,41.5,27.2,8.9,4.5,17.8,24.0,111.5,1987
1,2,Los Angeles Lakers*,82,19730,44.8,86.8,0.516,2.0,5.4,0.367,...,13.5,30.1,43.6,29.1,8.7,5.8,16.3,22.2,115.6,1987
2,3,Denver Nuggets*,82,19780,42.8,90.9,0.471,1.2,4.5,0.271,...,14.8,27.1,41.8,26.5,8.6,4.8,13.9,25.0,109.3,1987
3,4,Dallas Mavericks*,82,19880,43.2,88.6,0.487,2.8,7.8,0.354,...,14.6,30.0,44.6,24.2,8.3,5.1,14.5,22.5,114.9,1987
4,5,Seattle SuperSonics*,82,19855,42.7,88.5,0.482,2.3,6.8,0.335,...,16.3,28.4,44.7,25.9,8.4,5.3,17.9,26.4,110.7,1987

In [11]:
team_poss_88 = pd.read_csv(team_poss_fp[8])
team_poss_88['year'] = 1988
team_poss_88.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19780,43.4,91.6,0.474,2.2,6.5,0.342,...,13.4,28.1,41.5,26.5,9.6,4.6,13.6,22.8,110.1,1988
1,2,Portland Trail Blazers*,82,19730,43.0,87.6,0.491,1.4,4.5,0.308,...,14.7,29.3,43.9,27.1,8.5,4.1,15.9,24.6,111.8,1988
2,3,Boston Celtics*,82,19780,44.6,85.5,0.521,3.4,8.7,0.384,...,11.5,30.2,41.8,30.3,7.7,5.1,16.2,22.3,115.4,1988
3,4,San Antonio Spurs*,82,19805,43.0,87.8,0.490,1.5,4.8,0.323,...,13.7,27.1,40.9,27.2,8.6,5.4,16.5,23.1,108.2,1988
4,5,Los Angeles Lakers*,82,19805,43.7,86.6,0.505,1.7,5.8,0.297,...,13.1,30.5,43.6,28.7,8.2,4.9,16.1,21.0,113.1,1988

In [12]:
team_poss_89 = pd.read_csv(team_poss_fp[9])
team_poss_89['year'] = 1989
team_poss_89.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19755,43.6,87.7,0.498,2.0,5.6,0.349,...,12.7,30.4,43.2,26.5,8.1,4.8,14.9,22.5,113.1,1989
1,2,Denver Nuggets*,82,19880,42.8,91.4,0.468,2.6,7.6,0.337,...,13.5,28.2,41.8,25.6,9.1,4.9,13.8,23.4,108.6,1989
2,3,New York Knicks*,82,19805,43.0,88.4,0.486,4.5,13.3,0.337,...,15.3,26.3,41.6,24.2,10.4,5.2,18.3,23.8,111.1,1989
3,4,Golden State Warriors*,82,19905,41.9,89.6,0.468,2.2,7.1,0.308,...,14.9,28.8,43.6,22.6,9.3,7.2,16.7,21.9,107.4,1989
4,5,Los Angeles Lakers*,82,19805,43.4,86.4,0.502,2.7,8.1,0.340,...,13.2,31.6,44.8,27.6,8.8,5.1,16.3,20.2,113.8,1989

In [13]:
team_poss_90 = pd.read_csv(team_poss_fp[10])
team_poss_90['year'] = 1990
team_poss_90.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors,82,19705,40.1,82.9,0.484,2.8,8.6,0.324,...,10.5,27.4,38.0,22.7,8.7,5.6,16.3,23.1,109.6,1990
1,2,Phoenix Suns*,82,19855,42.6,85.7,0.496,2.1,6.5,0.324,...,12.6,31.8,44.5,25.3,8.0,6.0,15.3,21.9,113.1,1990
2,3,Denver Nuggets*,82,19805,42.7,92.2,0.464,2.6,7.8,0.337,...,13.4,29.1,42.6,26.2,9.4,3.8,13.1,23.5,108.0,1990
3,4,Portland Trail Blazers*,82,19880,42.2,89.1,0.473,2.2,6.7,0.336,...,16.0,30.1,46.1,24.6,8.8,4.3,16.0,24.2,110.5,1990
4,5,Orlando Magic,82,19805,40.2,87.6,0.459,1.3,4.6,0.295,...,15.2,28.7,43.9,23.2,7.2,3.4,16.4,23.0,105.8,1990

In [14]:
team_poss_91 = pd.read_csv(team_poss_fp[11])
team_poss_91['year'] = 1991
team_poss_91.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets,82,19730,41.7,94.9,0.440,3.2,11.3,0.283,...,16.3,27.1,43.3,21.5,9.2,4.3,14.3,23.9,105.2,1991
1,2,Golden State Warriors*,82,19805,41.7,85.9,0.485,3.2,9.4,0.337,...,13.0,27.0,40.0,22.9,9.4,4.4,15.9,25.8,111.9,1991
2,3,Portland Trail Blazers*,82,19905,42.9,88.4,0.485,4.1,10.8,0.377,...,14.4,30.7,45.1,27.0,8.7,4.9,15.7,23.7,112.8,1991
3,4,Phoenix Suns*,82,19730,43.0,86.7,0.496,1.7,5.2,0.319,...,13.6,31.3,44.9,26.6,8.3,6.4,15.7,22.3,112.6,1991
4,5,Indiana Pacers*,82,19805,42.1,85.3,0.493,3.0,9.1,0.332,...,12.4,29.0,41.4,26.6,8.0,4.4,16.5,25.5,111.7,1991

In [15]:
team_poss_92 = pd.read_csv(team_poss_fp[12])
team_poss_92['year'] = 1992
team_poss_92.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors*,82,19880,44.0,86.7,0.507,3.0,8.9,0.333,...,13.3,27.7,41.0,24.1,10.0,4.4,15.8,23.9,113.6,1992
1,2,Indiana Pacers*,82,19955,42.5,86.0,0.494,4.0,11.4,0.354,...,13.2,31.2,44.3,29.1,8.6,4.8,17.0,26.0,111.7,1992
2,3,Phoenix Suns*,82,19805,43.3,88.1,0.492,2.8,7.3,0.381,...,13.3,31.2,44.5,26.9,8.2,7.1,15.1,22.6,112.1,1992
3,4,Portland Trail Blazers*,82,19880,42.4,89.7,0.473,4.0,11.5,0.344,...,15.8,31.1,46.9,25.2,9.2,5.0,16.2,24.2,111.4,1992
4,5,Chicago Bulls*,82,19830,46.7,91.9,0.508,1.8,5.8,0.304,...,15.0,31.3,46.3,29.2,8.6,6.2,13.9,21.7,115.5,1992

In [16]:
team_poss_93 = pd.read_csv(team_poss_fp[13])
team_poss_93['year'] = 1993
team_poss_93.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19730,42.6,86.5,0.493,4.9,13.3,0.363,...,13.9,30.6,44.5,25.4,9.2,5.5,16.6,21.2,113.3,1993
1,2,Charlotte Hornets*,82,19755,42.6,87.4,0.487,2.1,6.5,0.326,...,13.3,30.4,43.7,26.2,7.7,5.7,16.1,21.7,109.5,1993
2,3,Golden State Warriors,82,19905,42.1,87.4,0.482,3.6,10.3,0.350,...,14.8,28.9,43.6,24.3,8.4,4.6,17.6,24.9,109.2,1993
3,4,Portland Trail Blazers*,82,19905,40.9,89.4,0.458,3.3,10.3,0.326,...,14.9,30.5,45.4,24.0,9.4,5.2,14.8,23.0,108.3,1993
4,5,Seattle SuperSonics*,82,19780,43.9,90.2,0.486,2.8,7.7,0.357,...,15.4,28.5,43.9,24.1,11.9,5.2,16.0,24.9,112.3,1993

In [17]:
team_poss_94 = pd.read_csv(team_poss_fp[14])
team_poss_94['year'] = 1994
team_poss_94.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19705,43.2,89.1,0.484,4.3,13.1,0.330,...,15.4,30.9,46.2,28.5,9.4,5.8,16.4,20.6,111.7,1994
1,2,Golden State Warriors*,82,19780,43.0,87.5,0.492,3.6,10.5,0.339,...,14.5,29.3,43.8,26.9,9.8,6.3,17.5,21.9,108.3,1994
2,3,Portland Trail Blazers*,82,19755,41.5,91.3,0.454,3.3,9.5,0.353,...,16.0,30.2,46.3,25.5,9.1,5.0,14.9,22.5,108.1,1994
3,4,Charlotte Hornets,82,19830,42.0,88.1,0.476,4.2,11.4,0.367,...,12.6,30.7,43.4,27.5,9.0,4.9,15.7,21.7,108.4,1994
4,5,Seattle SuperSonics*,82,19730,42.7,88.2,0.484,3.1,9.2,0.335,...,14.7,28.6,43.2,27.0,13.5,4.7,16.1,24.5,111.1,1994

In [18]:
team_poss_95 = pd.read_csv(team_poss_fp[15])
team_poss_95['year'] = 1995
team_poss_95.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Orlando Magic*,82,19930,43.8,87.4,0.502,6.6,17.9,0.370,...,14.5,31.1,45.7,28.9,8.5,6.2,16.4,21.9,115.1,1995
1,2,Phoenix Suns*,82,19830,42.3,87.9,0.482,7.4,20.0,0.369,...,13.0,30.3,43.3,27.7,8.7,3.9,14.7,23.2,114.5,1995
2,3,Seattle SuperSonics*,82,19830,42.0,85.5,0.491,6.2,16.5,0.376,...,13.5,29.6,43.2,26.8,11.6,5.0,16.4,26.2,114.8,1995
3,4,San Antonio Spurs*,82,19855,41.3,85.4,0.484,5.5,14.8,0.375,...,13.1,34.0,47.1,24.5,8.4,5.8,15.9,23.9,111.7,1995
4,5,Utah Jazz*,82,19780,42.5,83.0,0.512,3.9,10.5,0.376,...,11.4,31.6,43.0,29.6,9.9,5.1,16.9,26.8,114.3,1995

In [19]:
team_poss_96 = pd.read_csv(team_poss_fp[16])
team_poss_96['year'] = 1996
team_poss_96.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Chicago Bulls*,82,19730,44.0,92.0,0.478,7.3,18.0,0.403,...,16.7,32.2,48.8,27.1,9.9,4.6,15.7,24.1,115.2,1996
1,2,Seattle SuperSonics*,82,19880,39.5,82.3,0.480,7.5,20.5,0.364,...,12.3,31.5,43.8,25.7,11.3,5.1,18.5,25.3,110.3,1996
2,3,Orlando Magic*,82,19855,42.2,87.4,0.482,8.2,21.7,0.378,...,12.7,31.6,44.3,27.4,8.7,5.3,15.3,22.5,112.9,1996
3,4,Phoenix Suns*,82,19955,40.8,86.1,0.473,4.2,12.7,0.332,...,13.0,32.3,45.3,25.8,8.0,4.3,15.6,22.9,110.3,1996
4,5,Boston Celtics,82,19905,39.6,87.0,0.456,6.8,18.2,0.371,...,13.2,30.4,43.6,22.4,8.2,5.1,16.3,25.6,106.4,1996

In [20]:
team_poss_97 = pd.read_csv(team_poss_fp[17])
team_poss_97['year'] = 1997
team_poss_97.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Chicago Bulls*,82,19730,44.3,93.6,0.473,7.1,19.0,0.373,...,16.7,33.3,50.0,29.0,9.7,4.5,15.0,21.9,114.4,1997
1,2,Utah Jazz*,82,19830,42.1,83.6,0.504,4.5,12.1,0.370,...,12.0,32.4,44.3,29.6,10.1,5.6,16.9,26.6,113.6,1997
2,3,Phoenix Suns*,82,19855,40.8,87.0,0.469,6.8,18.5,0.369,...,11.9,30.8,42.7,26.8,8.6,4.2,15.3,22.4,109.3,1997
3,4,Seattle SuperSonics*,82,19780,40.2,86.2,0.467,7.5,21.3,0.353,...,13.6,30.5,44.1,25.9,12.1,5.2,16.5,24.2,111.2,1997
4,5,Boston Celtics,82,19905,38.6,87.7,0.440,5.9,16.8,0.351,...,13.8,27.5,41.3,22.6,10.2,4.0,16.9,24.1,103.9,1997

In [21]:
team_poss_98 = pd.read_csv(team_poss_fp[18])
team_poss_98['year'] = 1998
team_poss_98.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Los Angeles Lakers*,82,19830,40.7,84.5,0.481,6.4,18.3,0.351,...,14.0,32.0,45.9,26.0,9.5,7.2,16.2,24.0,111.9,1998
1,2,Minnesota Timberwolves*,82,19930,41.1,89.0,0.461,3.9,11.4,0.347,...,13.8,31.6,45.4,26.9,8.3,5.6,14.8,24.5,107.8,1998
2,3,Utah Jazz*,82,19780,40.7,83.2,0.490,3.4,9.1,0.372,...,13.1,32.7,45.8,28.2,8.8,5.6,17.1,26.7,112.7,1998
3,4,Seattle SuperSonics*,82,19755,41.3,87.4,0.473,8.4,21.2,0.396,...,12.6,30.1,42.7,26.9,10.9,5.1,15.5,24.5,111.6,1998
4,5,New Jersey Nets*,82,19880,40.5,91.9,0.441,4.1,12.4,0.331,...,17.8,28.3,46.2,22.3,10.3,4.2,15.6,25.4,108.3,1998

In [22]:
team_poss_99 = pd.read_csv(team_poss_fp[19])
team_poss_99['year'] = 1999
team_poss_99.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Sacramento Kings*,50,12200,39.3,88.3,0.445,5.9,19.3,0.308,...,14.5,32.2,46.7,23.1,9.1,4.8,17.3,20.8,102.7,1999
1,2,Los Angeles Lakers*,50,12050,40.0,85.5,0.468,5.2,14.9,0.352,...,13.5,32.2,45.7,23.8,8.5,6.2,16.4,26.8,107.6,1999
2,3,Phoenix Suns*,50,12050,39.8,88.6,0.449,5.8,15.5,0.372,...,13.2,31.4,44.6,27.6,9.8,4.4,15.1,22.6,105.8,1999
3,4,Seattle SuperSonics,50,12100,38.9,88.0,0.442,6.8,19.9,0.344,...,15.0,31.5,46.4,24.1,8.7,4.4,16.9,23.2,105.0,1999
4,5,Portland Trail Blazers*,50,12175,38.6,87.4,0.442,5.4,14.9,0.364,...,14.3,34.7,49.0,23.7,9.1,6.4,17.0,24.9,104.8,1999

In [23]:
team_poss_00 = pd.read_csv(team_poss_fp[20])
team_poss_00['year'] = 2000
team_poss_00.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Sacramento Kings*,82,19805,40.0,89.0,0.450,6.5,20.2,0.322,...,12.9,32.2,45.0,23.8,9.6,4.7,16.2,21.1,105.0,2000
1,2,Detroit Pistons*,82,19830,38.5,83.9,0.459,5.6,15.5,0.359,...,11.6,31.1,42.7,21.6,8.4,3.5,16.3,25.4,107.3,2000
2,3,Dallas Mavericks,82,19730,40.9,90.3,0.453,6.7,17.0,0.391,...,11.9,31.3,43.3,23.2,7.6,5.3,14.4,22.7,106.6,2000
3,4,Indiana Pacers*,82,19730,39.8,86.8,0.459,7.6,19.4,0.392,...,11.0,34.1,45.1,24.3,7.3,5.5,15.1,23.3,108.5,2000
4,5,Milwaukee Bucks*,82,19855,41.4,89.0,0.465,5.1,13.9,0.369,...,13.2,30.9,44.2,24.1,8.7,5.0,16.0,26.3,108.2,2000

In [24]:
team_poss_01 = pd.read_csv(team_poss_fp[21])
team_poss_01['year'] = 2001
team_poss_01.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Sacramento Kings*,82,20080,39.7,88.2,0.449,6.1,17.1,0.354,...,12.5,34.2,46.7,23.4,10.0,5.5,15.5,20.2,105.6,2001
1,2,Milwaukee Bucks*,82,19780,41.0,89.5,0.458,7.4,19.5,0.379,...,12.8,32.9,45.8,24.3,8.8,5.1,14.8,25.4,108.8,2001
2,3,Los Angeles Lakers*,82,19905,40.9,87.9,0.465,5.8,16.8,0.344,...,14.3,33.9,48.2,24.8,7.4,6.4,15.6,24.6,108.4,2001
3,4,Dallas Mavericks*,82,19805,40.1,87.3,0.459,6.7,17.6,0.381,...,10.8,33.4,44.2,22.6,8.0,6.4,14.8,24.8,107.1,2001
4,5,Toronto Raptors*,82,19955,40.3,92.2,0.437,5.7,15.4,0.369,...,14.8,33.4,48.2,26.5,7.9,6.9,14.3,23.1,105.9,2001

In [25]:
team_poss_02 = pd.read_csv(team_poss_fp[22])
team_poss_02['year'] = 2002
team_poss_02.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Dallas Mavericks*,82,19880,41.6,90.1,0.462,8.1,21.4,0.378,...,11.9,33.4,45.3,23.6,7.6,5.1,12.9,24.0,112.2,2002
1,2,Sacramento Kings*,82,19755,41.5,89.0,0.467,5.4,14.7,0.367,...,12.9,34.3,47.2,24.9,9.4,4.8,14.3,19.8,109.0,2002
2,3,Los Angeles Lakers*,82,19780,41.5,90.1,0.461,6.7,19.0,0.354,...,13.5,34.3,47.8,24.8,8.2,6.3,13.7,24.0,109.4,2002
3,4,Orlando Magic*,82,19830,40.1,89.5,0.448,8.1,21.6,0.373,...,12.2,31.7,43.9,23.4,8.6,5.0,14.5,22.1,107.0,2002
4,5,Minnesota Timberwolves*,82,19805,42.5,92.2,0.461,5.3,14.0,0.378,...,14.2,34.3,48.5,26.7,7.0,5.7,14.7,23.3,109.0,2002

In [26]:
team_poss_03 = pd.read_csv(team_poss_fp[23])
team_poss_03['year'] = 2003
team_poss_03.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Dallas Mavericks*,82,19780,41.4,91.5,0.453,8.3,21.9,0.381,...,12.0,33.4,45.3,24.1,8.7,5.9,12.4,22.7,110.7,2003
1,2,Golden State Warriors,82,19755,39.5,89.5,0.441,5.5,15.9,0.344,...,16.6,32.8,49.4,22.1,7.7,6.5,16.7,23.0,108.3,2003
2,3,Sacramento Kings*,82,19830,41.1,88.7,0.464,6.2,16.3,0.381,...,11.4,34.9,46.3,25.8,9.3,5.8,15.1,21.1,105.9,2003
3,4,Los Angeles Lakers*,82,19930,40.3,89.3,0.451,6.3,17.8,0.356,...,14.0,33.3,47.3,24.9,8.3,6.1,15.5,24.4,107.2,2003
4,5,Milwaukee Bucks*,82,19905,40.6,89.0,0.457,7.8,20.4,0.383,...,11.7,31.6,43.3,24.3,8.3,4.6,13.9,24.3,108.8,2003

In [27]:
team_poss_04 = pd.read_csv(team_poss_fp[24])
team_poss_04['year'] = 2004
team_poss_04.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Dallas Mavericks*,82,19805,43.2,94.0,0.459,6.6,18.9,0.348,...,15.3,33.0,48.3,25.5,8.5,5.7,13.0,20.9,112.1,2004
1,2,Sacramento Kings*,82,19780,40.6,87.8,0.462,7.9,19.6,0.401,...,11.6,32.6,44.2,28.1,9.3,4.3,14.9,20.7,110.3,2004
2,3,Los Angeles Lakers*,82,19855,39.7,87.4,0.454,4.8,14.6,0.327,...,13.1,33.2,46.3,25.5,8.9,5.0,14.8,22.7,105.5,2004
3,4,Milwaukee Bucks*,82,19780,39.4,88.1,0.447,5.3,15.2,0.350,...,12.7,33.2,45.9,24.8,7.3,5.1,14.7,22.1,106.5,2004
4,5,Denver Nuggets*,82,19730,39.0,88.1,0.443,4.3,12.8,0.336,...,14.1,31.1,45.2,23.4,9.7,6.8,16.7,23.5,103.9,2004

In [28]:
team_poss_05 = pd.read_csv(team_poss_fp[25])
team_poss_05['year'] = 2005
team_poss_05.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19780,42.4,88.8,0.477,10.1,25.6,0.393,...,12.2,33.5,45.8,24.4,7.2,5.7,14.2,19.8,114.5,2005
1,2,Sacramento Kings*,82,19855,41.6,90.7,0.459,6.8,18.1,0.374,...,13.3,31.9,45.2,26.0,8.8,4.1,13.9,21.9,110.5,2005
2,3,Dallas Mavericks*,82,19730,40.1,87.8,0.457,6.1,16.7,0.364,...,13.0,33.2,46.2,21.1,9.3,6.0,14.5,24.0,110.3,2005
3,4,Miami Heat*,82,19980,41.0,84.3,0.486,6.3,16.7,0.377,...,11.7,34.9,46.7,23.7,7.0,6.3,14.9,24.0,110.2,2005
4,5,Boston Celtics*,82,19880,39.4,84.3,0.468,5.7,16.2,0.349,...,11.8,31.6,43.3,23.4,8.6,5.5,16.8,25.9,107.5,2005

In [29]:
team_poss_06 = pd.read_csv(team_poss_fp[26])
team_poss_06['year'] = 2006
team_poss_06.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19955,43.0,90.0,0.479,10.5,26.3,0.399,...,9.8,33.3,43.0,27.3,6.9,5.2,13.7,21.1,111.5,2006
1,2,Seattle SuperSonics,82,19830,40.6,88.6,0.459,8.0,21.5,0.371,...,13.4,29.5,42.9,22.4,8.2,4.0,16.0,25.5,111.1,2006
2,3,Washington Wizards*,82,19830,39.0,87.3,0.447,6.5,18.3,0.357,...,13.6,30.7,44.3,20.0,8.6,4.4,15.0,24.3,109.3,2006
3,4,Toronto Raptors,82,19955,39.8,87.7,0.454,8.0,21.4,0.375,...,11.4,30.3,41.7,21.0,7.0,3.6,14.1,26.0,109.5,2006
4,5,Denver Nuggets*,82,19930,39.5,85.5,0.461,4.5,13.8,0.325,...,11.6,31.9,43.4,24.6,8.9,5.9,15.6,23.9,105.5,2006

In [30]:
team_poss_07 = pd.read_csv(team_poss_fp[27])
team_poss_07['year'] = 2007
team_poss_07.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19905,42.7,86.4,0.494,9.9,24.8,0.399,...,9.3,32.6,41.9,26.8,7.0,5.0,15.0,20.9,113.9,2007
1,2,Golden State Warriors*,82,19755,40.0,86.4,0.463,8.6,24.1,0.356,...,11.5,30.1,41.6,23.9,9.2,5.7,16.0,23.7,107.0,2007
2,3,Denver Nuggets*,82,19780,39.4,84.7,0.465,6.0,17.9,0.336,...,12.5,31.9,44.3,23.9,8.4,5.4,16.8,21.9,107.6,2007
3,4,Washington Wizards*,82,19830,39.5,87.7,0.450,7.2,20.8,0.348,...,12.8,30.6,43.4,21.4,8.2,4.8,14.6,23.5,110.1,2007
4,5,Los Angeles Lakers*,82,20030,39.7,85.4,0.466,7.8,22.1,0.353,...,11.3,32.0,43.3,23.7,7.7,5.4,16.3,24.2,108.6,2007

In [31]:
team_poss_08 = pd.read_csv(team_poss_fp[28])
team_poss_08['year'] = 2008
team_poss_08.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors,82,19780,41.8,90.9,0.459,9.3,26.8,0.348,...,12.8,30.6,43.5,22.5,9.1,4.6,13.3,23.0,111.8,2008
1,2,Denver Nuggets*,82,19855,40.1,85.3,0.470,6.9,19.4,0.355,...,11.1,32.7,43.8,24.5,9.1,6.7,14.6,21.0,110.0,2008
2,3,Phoenix Suns*,82,19780,42.6,85.1,0.500,8.7,22.1,0.393,...,9.0,33.7,42.7,27.5,6.7,6.5,14.9,20.5,113.3,2008
3,4,Los Angeles Lakers*,82,19780,41.2,86.5,0.476,8.4,22.2,0.378,...,11.4,34.6,45.9,25.4,8.3,5.6,14.7,21.5,113.0,2008
4,5,Utah Jazz*,82,19705,42.9,86.1,0.497,5.3,14.3,0.372,...,12.3,31.5,43.8,28.3,9.4,4.6,15.7,25.7,113.8,2008

In [32]:
team_poss_09 = pd.read_csv(team_poss_fp[29])
team_poss_09['year'] = 2009
team_poss_09.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns,82,19755,42.7,84.7,0.504,7.0,18.3,0.383,...,11.4,31.9,43.3,24.1,7.5,5.3,16.3,21.4,113.6,2009
1,2,Golden State Warriors,82,19880,39.7,86.8,0.458,6.8,18.1,0.373,...,11.7,30.6,42.4,21.0,7.8,6.5,14.8,22.7,109.5,2009
2,3,Los Angeles Lakers*,82,19780,42.6,89.8,0.474,7.0,19.5,0.361,...,13.1,33.3,46.3,24.5,9.2,5.4,14.2,21.8,112.8,2009
3,4,New York Knicks,82,19805,39.6,88.9,0.445,10.3,28.6,0.360,...,11.4,31.9,43.3,21.8,7.6,2.6,14.7,21.0,108.1,2009
4,5,Indiana Pacers,82,19830,40.4,88.8,0.455,8.2,21.6,0.378,...,11.6,33.4,45.0,22.3,7.2,5.4,14.9,23.8,108.1,2009

In [33]:
team_poss_10 = pd.read_csv(team_poss_fp[30])
team_poss_10['year'] = 2010
team_poss_10.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Phoenix Suns*,82,19730,42.6,86.6,0.492,9.3,22.6,0.412,...,11.6,33.4,45.0,24.4,6.1,5.3,15.4,21.9,115.3,2010
1,2,Golden State Warriors,82,19730,40.4,86.0,0.469,7.7,20.4,0.375,...,9.1,29.1,38.2,22.3,9.2,4.1,14.6,22.9,108.1,2010
2,3,Denver Nuggets*,82,19780,40.0,85.5,0.468,7.0,19.4,0.359,...,11.4,32.1,43.5,22.0,8.7,5.3,14.5,23.6,111.8,2010
3,4,Utah Jazz*,82,19755,41.8,85.1,0.491,5.7,15.6,0.364,...,11.3,33.5,44.8,28.3,8.7,5.2,16.1,24.1,110.7,2010
4,5,Toronto Raptors,82,19780,41.7,86.5,0.482,6.8,18.2,0.371,...,10.5,32.7,43.2,23.5,6.1,5.0,14.3,23.7,111.3,2010

In [34]:
team_poss_11 = pd.read_csv(team_poss_fp[31])
team_poss_11['year'] = 2011
team_poss_11.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19705,40.1,84.3,0.476,8.4,21.7,0.388,...,10.1,33.8,43.9,23.1,7.7,4.5,14.7,21.9,112.3,2011
1,2,New York Knicks*,82,19780,39.9,87.2,0.457,9.7,26.4,0.368,...,10.8,31.4,42.1,22.3,7.9,6.0,14.3,22.1,110.9,2011
2,3,Houston Rockets,82,19880,40.6,89.4,0.454,8.7,23.6,0.367,...,12.3,32.7,45.0,25.1,7.4,4.8,14.2,21.0,111.3,2011
3,4,Phoenix Suns,82,20005,40.9,87.0,0.470,8.9,23.6,0.377,...,10.4,31.5,41.9,24.7,6.9,4.5,14.9,21.2,109.5,2011
4,5,Oklahoma City Thunder*,82,20005,39.7,85.5,0.464,6.3,18.2,0.347,...,11.7,33.7,45.4,21.6,8.5,6.3,15.0,23.8,111.2,2011

In [35]:
team_poss_12 = pd.read_csv(team_poss_fp[32])
team_poss_12['year'] = 2012
team_poss_12.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,66,16040,40.9,85.9,0.476,6.9,20.8,0.332,...,11.7,33.4,45.2,25.1,8.6,5.2,16.1,20.6,109.2,2012
1,2,San Antonio Spurs*,66,15940,42.3,88.5,0.478,8.9,22.8,0.393,...,11.1,34.9,46.0,24.8,7.9,4.7,14.5,18.5,110.9,2012
2,3,Oklahoma City Thunder*,66,15990,39.7,84.4,0.471,7.6,21.3,0.358,...,11.7,34.8,46.5,19.8,8.0,8.7,17.4,21.8,109.8,2012
3,4,Utah Jazz*,66,16165,41.0,89.8,0.456,4.4,13.7,0.323,...,14.0,33.4,47.4,23.4,8.8,6.3,15.2,23.4,106.8,2012
4,5,Milwaukee Bucks,66,15865,40.4,91.2,0.443,7.0,20.4,0.345,...,13.2,32.0,45.2,25.0,8.8,5.4,15.0,20.5,105.5,2012

In [36]:
team_poss_13 = pd.read_csv(team_poss_fp[33])
team_poss_13['year'] = 2013
team_poss_13.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Denver Nuggets*,82,19905,42.3,88.6,0.478,6.6,19.3,0.343,...,13.8,33.0,46.8,25.4,9.7,6.8,15.9,21.3,110.4,2013
1,2,Houston Rockets*,82,19780,39.4,85.6,0.461,10.9,29.9,0.366,...,11.5,33.5,45.0,24.0,8.6,4.5,17.0,21.0,109.7,2013
2,3,Oklahoma City Thunder*,82,19830,40.5,84.3,0.481,7.8,20.6,0.377,...,11.1,35.3,46.4,22.7,8.8,8.1,16.2,21.4,112.4,2013
3,4,San Antonio Spurs*,82,19880,41.1,85.6,0.481,8.5,22.6,0.376,...,8.5,34.9,43.4,26.4,8.9,5.7,15.5,18.3,108.3,2013
4,5,Miami Heat*,82,19880,41.9,84.5,0.496,9.5,24.1,0.396,...,9.0,33.2,42.2,25.2,9.5,5.9,15.2,20.4,112.3,2013

In [37]:
team_poss_14 = pd.read_csv(team_poss_fp[34])
team_poss_14['year'] = 2014
team_poss_14.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Los Angeles Clippers*,82,19755,40.6,85.6,0.474,8.8,24.9,0.352,...,10.9,33.8,44.6,25.5,8.9,5.0,14.4,22.4,112.1,2014
1,2,Houston Rockets*,82,19830,39.2,83.0,0.472,9.8,27.4,0.358,...,11.6,35.1,46.7,22.1,7.8,5.8,16.6,21.1,111.0,2014
2,3,Minnesota Timberwolves,82,19855,39.6,89.1,0.444,7.5,21.8,0.341,...,12.7,32.8,45.6,24.4,8.9,3.7,14.2,18.7,108.9,2014
3,4,Portland Trail Blazers*,82,19855,40.9,90.9,0.450,9.8,26.4,0.372,...,13.0,35.5,48.5,24.3,5.8,4.9,14.3,20.1,111.5,2014
4,5,Oklahoma City Thunder*,82,19805,40.6,86.1,0.471,8.4,23.3,0.361,...,11.3,35.3,46.6,22.8,8.6,6.4,15.9,23.6,110.5,2014

In [38]:
team_poss_15 = pd.read_csv(team_poss_fp[35])
team_poss_15['year'] = 2015
team_poss_15.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors*,82,19730,42.2,88.3,0.478,10.9,27.4,0.398,...,10.6,34.8,45.4,27.8,9.4,6.1,14.7,20.2,111.6,2015
1,2,Los Angeles Clippers*,82,19730,41.5,87.7,0.473,10.6,28.3,0.376,...,10.1,34.8,44.9,26.1,8.2,5.3,13.0,22.5,112.4,2015
2,3,Dallas Mavericks*,82,19880,41.3,89.3,0.463,9.3,26.4,0.352,...,10.9,33.1,44.0,23.4,8.4,4.7,13.5,20.9,109.5,2015
3,4,Toronto Raptors*,82,19855,40.5,88.9,0.455,9.5,26.8,0.352,...,11.5,32.9,44.4,22.1,8.0,4.6,13.8,22.3,111.0,2015
4,5,Oklahoma City Thunder,82,19830,40.3,90.0,0.447,8.0,23.6,0.339,...,13.3,36.0,49.3,21.3,7.6,5.7,15.2,23.1,107.8,2015

In [39]:
team_poss_16 = pd.read_csv(team_poss_fp[36])
team_poss_16['year'] = 2016
team_poss_16.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors*,82,19880,42.4,87.0,0.487,13.1,31.5,0.416,...,9.9,36.1,46.0,28.8,8.4,6.1,15.1,20.7,114.5,2016
1,2,Oklahoma City Thunder*,82,19830,42.2,88.6,0.476,8.5,24.3,0.349,...,13.4,36.5,49.9,23.6,7.5,6.1,16.3,21.2,113.1,2016
2,3,Sacramento Kings,82,19805,39.8,85.9,0.464,8.0,22.3,0.359,...,10.5,33.5,44.0,24.4,8.9,4.5,16.1,20.3,106.0,2016
3,4,Houston Rockets*,82,19830,38.4,84.9,0.452,10.9,31.4,0.347,...,11.5,32.2,43.8,22.6,10.2,5.3,16.2,22.2,108.3,2016
4,5,Boston Celtics*,82,19780,39.6,90.2,0.439,8.8,26.4,0.335,...,11.7,33.7,45.4,24.4,9.3,4.3,13.9,22.1,106.8,2016

In [40]:
team_poss_17 = pd.read_csv(team_poss_fp[37])
team_poss_17['year'] = 2017
team_poss_17.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors*,82,19780,43.0,86.8,0.495,11.9,31.2,0.383,...,9.4,34.9,44.3,30.3,9.5,6.7,14.7,19.3,115.6,2017
1,2,Houston Rockets*,82,19780,40.1,86.8,0.462,14.3,40.1,0.357,...,10.8,33.3,44.1,25.1,8.1,4.3,15.0,19.8,114.7,2017
2,3,Denver Nuggets,82,19755,41.7,88.9,0.469,10.8,29.2,0.368,...,11.9,35.1,47.0,25.7,7.0,4.0,15.2,19.4,113.2,2017
3,4,Cleveland Cavaliers*,82,19880,41.1,87.4,0.470,13.4,34.9,0.384,...,9.6,35.4,45.0,23.3,6.8,4.1,14.1,18.7,113.6,2017
4,5,Washington Wizards*,82,19855,42.1,88.6,0.475,9.4,25.2,0.372,...,10.5,33.2,43.6,24.3,8.6,4.2,14.4,21.7,111.2,2017

In [41]:
team_poss_18 = pd.read_csv(team_poss_fp[38])
team_poss_18['year'] = 2018
team_poss_18.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Golden State Warriors*,82,19730,42.9,85.3,0.503,11.3,28.9,0.391,...,8.4,35.1,43.6,29.3,8.0,7.5,15.5,19.6,113.6,2018
1,2,Houston Rockets*,82,19755,39.5,86.0,0.460,15.6,43.2,0.362,...,9.2,35.2,44.4,22.0,8.7,4.9,14.1,19.9,114.7,2018
2,3,New Orleans Pelicans*,82,19955,41.9,86.6,0.483,10.0,27.7,0.362,...,8.5,35.0,43.5,26.3,7.9,5.8,14.6,18.8,109.6,2018
3,4,Toronto Raptors*,82,19830,42.0,89.1,0.472,12.0,33.6,0.358,...,9.9,34.9,44.8,24.8,7.8,6.2,13.6,22.2,113.8,2018
4,5,Cleveland Cavaliers*,82,19730,41.1,86.3,0.476,12.2,32.7,0.372,...,8.6,34.3,42.9,23.8,7.2,3.9,14.0,18.9,112.9,2018

In [42]:
team_poss_19 = pd.read_csv(team_poss_fp[39])
team_poss_19['year'] = 2019
team_poss_19.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Milwaukee Bucks*,82,19780,41.8,87.8,0.476,13.0,36.8,0.353,...,9.0,39.0,47.9,25.1,7.2,5.7,13.4,18.9,113.8,2019
1,2,Golden State Warriors*,82,19805,43.4,88.4,0.491,13.1,33.9,0.385,...,9.6,35.9,45.5,29.0,7.5,6.3,14.0,21.1,115.9,2019
2,3,New Orleans Pelicans,82,19755,42.1,89.0,0.473,9.9,28.8,0.344,...,10.7,34.9,45.6,26.1,7.2,5.2,14.3,20.4,111.4,2019
3,4,Philadelphia 76ers*,82,19805,40.6,86.2,0.471,10.6,29.5,0.359,...,10.6,36.1,46.7,26.3,7.2,5.2,14.6,20.8,112.6,2019
4,5,Los Angeles Clippers*,82,19830,40.3,85.4,0.471,9.8,25.2,0.388,...,9.5,34.9,44.4,23.4,6.7,4.6,14.2,22.8,112.4,2019

In [43]:
team_poss_20 = pd.read_csv(team_poss_fp[40])
team_poss_20['year'] = 2020
team_poss_20.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Dallas Mavericks*,75,18175,41.5,90.0,0.461,15.1,41.1,0.367,...,10.5,36.3,46.8,24.6,6.1,4.8,12.7,19.4,116.7,2020
1,2,Milwaukee Bucks*,73,17595,41.0,86.1,0.476,13.1,36.9,0.355,...,9.0,40.0,49.0,24.5,6.8,5.6,14.3,18.6,112.4,2020
2,3,Portland Trail Blazers*,74,17835,41.7,90.2,0.463,12.7,33.7,0.377,...,10.1,34.7,44.8,20.4,6.2,6.0,12.6,21.5,113.7,2020
3,4,Houston Rockets*,72,17380,39.1,86.7,0.451,15.0,43.4,0.345,...,9.4,33.1,42.4,20.7,8.3,4.9,14.1,20.8,112.9,2020
4,5,Los Angeles Clippers*,72,17380,40.7,87.4,0.466,12.2,32.8,0.371,...,10.4,36.2,46.7,23.2,6.9,4.6,14.3,21.7,113.9,2020

In [44]:
team_poss_all = pd.concat([team_poss_80, team_poss_81, team_poss_82, team_poss_83, team_poss_84, team_poss_85, team_poss_86, team_poss_87, team_poss_88, team_poss_89,team_poss_90, team_poss_91, team_poss_92, team_poss_93, team_poss_94, team_poss_95, team_poss_96, team_poss_97, team_poss_98, team_poss_99, team_poss_00, team_poss_01, team_poss_02, team_poss_03, team_poss_04, team_poss_05, team_poss_06, team_poss_07, team_poss_08, team_poss_09, team_poss_10, team_poss_11, team_poss_12, team_poss_13, team_poss_14, team_poss_15, team_poss_16, team_poss_17, team_poss_18, team_poss_19, team_poss_20])
team_poss_all.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19755,42.8,85.9,0.498,0.6,2.3,0.252,...,12.8,27.9,40.7,25.8,8.6,3.7,17.6,23.3,108.6,1980
1,2,Los Angeles Lakers*,82,19880,45.2,85.5,0.529,0.2,1.2,0.200,...,12.6,30.8,43.4,28.0,9.0,6.3,19.0,20.7,109.5,1980
2,3,Cleveland Cavaliers,82,19930,43.4,91.7,0.474,0.4,2.1,0.193,...,14.9,27.1,42.0,24.0,8.7,3.9,15.6,22.0,106.7,1980
3,4,New York Knicks,82,19780,43.3,87.4,0.496,0.5,2.2,0.220,...,14.1,26.2,40.3,25.8,10.0,5.2,18.4,24.7,106.5,1980
4,5,Boston Celtics*,82,19880,42.6,86.9,0.490,1.9,5.0,0.384,...,14.4,28.9,43.3,25.9,9.5,3.6,18.1,23.2,109.4,1980

In [45]:
team_poss_all.tail()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
25,26,New York Knicks,66,15965,40.2,89.9,0.447,9.6,28.5,0.337,...,12.1,34.7,46.8,22.2,7.7,4.8,14.4,22.3,106.5,2020
26,27,Cleveland Cavaliers,65,15725,40.5,88.4,0.458,11.2,32.0,0.351,...,10.9,33.6,44.5,23.2,6.9,3.3,16.6,18.4,107.5,2020
27,28,Chicago Bulls,65,15675,39.5,88.5,0.447,12.2,35.1,0.348,...,10.4,31.4,41.8,23.2,10.0,4.1,15.4,21.8,106.7,2020
28,29,Golden State Warriors,65,15725,38.2,87.2,0.438,10.3,30.9,0.334,...,9.8,32.5,42.4,25.3,8.1,4.5,14.7,19.8,105.2,2020
29,30,Charlotte Hornets,65,15750,38.6,88.8,0.434,12.5,35.5,0.352,...,11.4,32.9,44.2,24.6,6.8,4.3,15.1,19.5,106.3,2020

In [46]:
opp_poss_fp = []
x = 1980
while x <= 2020:
    fp = '../data/opp_100poss/' + str(x) + '_opp_100poss.csv'
    opp_poss_fp.append(fp)
    x += 1
opp_poss_fp

['../data/opp_100poss/1980_opp_100poss.csv',
 '../data/opp_100poss/1981_opp_100poss.csv',
 '../data/opp_100poss/1982_opp_100poss.csv',
 '../data/opp_100poss/1983_opp_100poss.csv',
 '../data/opp_100poss/1984_opp_100poss.csv',
 '../data/opp_100poss/1985_opp_100poss.csv',
 '../data/opp_100poss/1986_opp_100poss.csv',
 '../data/opp_100poss/1987_opp_100poss.csv',
 '../data/opp_100poss/1988_opp_100poss.csv',
 '../data/opp_100poss/1989_opp_100poss.csv',
 '../data/opp_100poss/1990_opp_100poss.csv',
 '../data/opp_100poss/1991_opp_100poss.csv',
 '../data/opp_100poss/1992_opp_100poss.csv',
 '../data/opp_100poss/1993_opp_100poss.csv',
 '../data/opp_100poss/1994_opp_100poss.csv',
 '../data/opp_100poss/1995_opp_100poss.csv',
 '../data/opp_100poss/1996_opp_100poss.csv',
 '../data/opp_100poss/1997_opp_100poss.csv',
 '../data/opp_100poss/1998_opp_100poss.csv',
 '../data/opp_100poss/1999_opp_100poss.csv',
 '../data/opp_100poss/2000_opp_100poss.csv',
 '../data/opp_100poss/2001_opp_100poss.csv',
 '../data/opp_100poss/2002_opp_100poss.csv',
 '../data/opp_100poss/2003_opp_100poss.csv',
 '../data/opp_100poss/2004_opp_100poss.csv',
 '../data/opp_100poss/2005_opp_100poss.csv',
 '../data/opp_100poss/2006_opp_100poss.csv',
 '../data/opp_100poss/2007_opp_100poss.csv',
 '../data/opp_100poss/2008_opp_100poss.csv',
 '../data/opp_100poss/2009_opp_100poss.csv',
 '../data/opp_100poss/2010_opp_100poss.csv',
 '../data/opp_100poss/2011_opp_100poss.csv',
 '../data/opp_100poss/2012_opp_100poss.csv',
 '../data/opp_100poss/2013_opp_100poss.csv',
 '../data/opp_100poss/2014_opp_100poss.csv',
 '../data/opp_100poss/2015_opp_100poss.csv',
 '../data/opp_100poss/2016_opp_100poss.csv',
 '../data/opp_100poss/2017_opp_100poss.csv',
 '../data/opp_100poss/2018_opp_100poss.csv',
 '../data/opp_100poss/2019_opp_100poss.csv',
 '../data/opp_100poss/2020_opp_100poss.csv']

In [47]:
opp_poss_80 = pd.read_csv(opp_poss_fp[0])
opp_poss_80['year'] = 1980
opp_poss_80.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks*,82,19780,38.6,84.3,0.458,0.6,2.2,0.251,...,15.5,28.7,44.2,21.6,8.4,6.8,20.4,26.6,102.3,1980
1,2,Portland Trail Blazers*,82,19780,41.2,86.3,0.478,0.7,2.3,0.296,...,14.0,29.0,43.0,24.7,9.3,4.9,17.8,23.1,104.3,1980
2,3,Seattle SuperSonics*,82,19830,40.5,88.3,0.459,0.7,2.9,0.246,...,14.3,28.6,42.9,24.0,8.7,4.7,18.1,23.7,101.2,1980
3,4,Philadelphia 76ers*,82,19855,40.4,88.7,0.455,0.9,3.3,0.271,...,15.5,27.6,43.1,24.5,10.3,4.6,18.3,24.6,101.0,1980
4,5,Kansas City Kings*,82,19805,39.1,82.1,0.476,0.5,2.0,0.238,...,13.4,31.0,44.4,20.9,8.2,5.0,20.7,24.3,101.0,1980

In [48]:
opp_poss_81 = pd.read_csv(opp_poss_fp[1])
opp_poss_81['year'] = 1981
opp_poss_81.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Philadelphia 76ers*,82,19855,38.7,85.8,0.451,0.6,2.3,0.240,...,15.0,26.7,41.8,23.8,9.6,4.4,19.2,23.9,99.5,1981
1,2,Boston Celtics*,82,19780,40.6,87.8,0.462,0.4,1.7,0.216,...,14.3,26.2,40.5,22.8,8.9,4.2,17.7,24.8,102.6,1981
2,3,Phoenix Suns*,82,19755,39.1,83.8,0.466,0.8,2.4,0.330,...,13.5,26.5,39.9,22.8,10.6,4.7,20.3,24.5,99.4,1981
3,4,Washington Bullets,82,19780,41.7,88.8,0.470,0.4,2.1,0.210,...,14.3,31.3,45.5,24.4,8.8,5.6,16.7,22.4,102.7,1981
4,5,Seattle SuperSonics,82,19780,41.8,89.8,0.465,0.5,1.9,0.268,...,15.1,28.5,43.6,24.7,9.0,4.7,16.3,24.7,104.8,1981

In [49]:
opp_poss_82 = pd.read_csv(opp_poss_fp[2])
opp_poss_82['year'] = 1982
opp_poss_82.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks*,82,19880,40.0,85.2,0.470,0.6,2.4,0.247,...,14.4,30.3,44.7,23.7,7.3,5.5,18.3,27.7,104.6,1982
1,2,Washington Bullets*,82,19830,40.9,88.0,0.465,0.5,2.2,0.240,...,13.5,30.6,44.2,23.0,7.6,6.6,16.1,23.2,102.5,1982
2,3,Phoenix Suns*,82,19830,40.7,87.4,0.466,0.6,2.4,0.255,...,14.1,28.8,42.8,23.7,9.4,4.4,16.9,25.1,102.4,1982
3,4,Milwaukee Bucks*,82,19805,40.0,85.6,0.467,0.7,2.7,0.254,...,14.2,26.1,40.3,24.4,8.7,4.2,18.6,26.5,102.3,1982
4,5,Seattle SuperSonics*,82,19830,41.3,89.6,0.461,0.6,2.4,0.239,...,15.0,29.3,44.3,24.1,8.0,3.8,17.0,26.0,102.3,1982

In [50]:
opp_poss_83 = pd.read_csv(opp_poss_fp[3])
opp_poss_83['year'] = 1983
opp_poss_83.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,New York Knicks*,82,19805,39.1,82.3,0.475,0.5,2.1,0.229,...,13.4,29.2,42.6,23.4,8.7,5.0,21.0,26.4,99.9,1983
1,2,Washington Bullets,82,19805,40.2,85.8,0.468,0.5,2.0,0.227,...,13.6,30.6,44.2,22.8,8.5,6.8,18.8,24.1,99.3,1983
2,3,Phoenix Suns*,82,19730,39.6,87.0,0.455,0.5,2.4,0.221,...,14.5,27.9,42.3,23.8,8.5,4.1,18.7,24.4,100.1,1983
3,4,Milwaukee Bucks*,82,19830,40.4,88.6,0.456,0.5,2.5,0.182,...,15.8,28.4,44.1,24.7,7.5,3.6,18.4,26.0,101.4,1983
4,5,Atlanta Hawks*,82,19780,41.5,88.3,0.470,0.5,2.0,0.235,...,16.0,31.5,47.5,23.6,8.0,4.8,18.0,24.3,103.2,1983

In [51]:
opp_poss_84 = pd.read_csv(opp_poss_fp[4])
opp_poss_84['year'] = 1984
opp_poss_84.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Milwaukee Bucks*,82,19905,39.9,87.5,0.456,0.5,2.5,0.207,...,15.6,27.8,43.4,24.4,8.1,4.0,17.5,26.0,103.6,1984
1,2,Atlanta Hawks*,82,19855,41.6,86.8,0.479,0.5,2.3,0.211,...,15.1,30.6,45.7,25.7,7.3,5.4,17.9,26.5,106.9,1984
2,3,New York Knicks*,82,19855,39.8,81.6,0.488,0.6,2.3,0.275,...,12.8,26.5,39.3,25.0,8.8,4.8,20.5,26.8,103.1,1984
3,4,Boston Celtics*,82,19955,41.8,88.9,0.470,0.9,2.6,0.324,...,13.3,26.9,40.1,23.6,8.5,4.0,16.0,25.2,104.4,1984
4,5,Philadelphia 76ers*,82,19955,41.4,86.2,0.480,0.6,2.5,0.227,...,14.9,27.0,41.9,24.9,9.7,5.8,18.8,27.0,104.6,1984

In [52]:
opp_poss_85 = pd.read_csv(opp_poss_fp[5])
opp_poss_85['year'] = 1985
opp_poss_85.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Milwaukee Bucks*,82,19805,39.1,84.7,0.461,1.0,3.7,0.260,...,15.0,27.9,42.9,23.1,7.8,4.7,19.0,25.6,103.6,1985
1,2,Washington Bullets*,82,19855,42.1,86.6,0.487,0.8,2.8,0.284,...,13.5,32.2,45.7,24.0,7.6,4.8,17.7,22.1,104.6,1985
2,3,Seattle SuperSonics,82,19705,43.2,87.6,0.493,1.0,3.1,0.312,...,13.7,29.2,42.8,27.2,9.0,5.6,17.0,24.8,108.2,1985
3,4,Atlanta Hawks,82,19855,42.4,88.0,0.482,0.6,2.6,0.217,...,16.1,29.2,45.3,25.3,8.2,4.5,18.0,23.9,107.3,1985
4,5,Boston Celtics*,82,19705,43.7,91.6,0.477,0.9,3.2,0.264,...,13.2,27.4,40.7,24.5,7.7,3.8,14.7,23.5,106.3,1985

In [53]:
opp_poss_86 = pd.read_csv(opp_poss_fp[6])
opp_poss_86['year'] = 1986
opp_poss_86.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,New York Knicks,82,19805,39.2,82.0,0.478,0.8,3.4,0.248,...,14.3,31.8,46.1,24.7,8.6,5.5,20.0,24.8,105.2,1986
1,2,Seattle SuperSonics,82,19930,40.8,83.7,0.487,0.7,2.8,0.254,...,12.7,28.5,41.2,25.2,8.1,5.0,18.1,24.8,106.0,1986
2,3,Boston Celtics*,82,19855,41.1,89.3,0.461,1.0,3.6,0.270,...,13.0,27.7,40.7,23.0,8.7,4.1,15.0,23.5,102.6,1986
3,4,Washington Bullets*,82,19855,41.9,89.8,0.467,0.9,3.2,0.274,...,15.2,31.6,46.9,24.6,8.7,5.5,16.8,23.3,104.8,1986
4,5,Milwaukee Bucks*,82,19805,39.0,83.6,0.467,1.2,3.9,0.295,...,13.9,27.6,41.5,23.2,7.5,4.7,19.4,25.4,102.7,1986

In [54]:
opp_poss_87 = pd.read_csv(opp_poss_fp[7])
opp_poss_87['year'] = 1987
opp_poss_87.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks*,82,19730,39.4,87.4,0.451,1.6,5.3,0.300,...,14.9,28.4,43.4,23.9,7.7,4.8,16.4,25.4,105.2,1987
1,2,Chicago Bulls*,82,19830,42.1,87.3,0.483,1.5,4.3,0.341,...,13.0,29.3,42.2,25.6,7.4,6.2,16.0,23.3,107.6,1987
2,3,Houston Rockets*,82,19780,40.7,87.8,0.463,1.2,4.3,0.282,...,14.2,28.7,42.9,25.8,8.8,4.5,16.6,23.4,105.5,1987
3,4,Boston Celtics*,82,19805,42.6,92.2,0.463,1.5,5.0,0.306,...,15.2,28.1,43.3,25.3,8.9,4.2,14.2,23.5,106.8,1987
4,5,Milwaukee Bucks*,82,19780,39.3,83.5,0.470,1.5,5.0,0.289,...,14.4,30.0,44.4,24.4,8.0,5.6,18.8,24.5,105.6,1987

In [55]:
opp_poss_88 = pd.read_csv(opp_poss_fp[8])
opp_poss_88['year'] = 1988
opp_poss_88.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Chicago Bulls*,82,19855,41.5,88.2,0.470,1.4,4.7,0.293,...,13.0,28.7,41.7,26.3,7.6,5.3,15.8,23.8,105.5,1988
1,2,Cleveland Cavaliers*,82,19780,42.2,88.5,0.476,1.6,5.0,0.318,...,14.4,28.1,42.6,24.8,8.6,5.6,17.9,25.2,106.0,1988
2,3,Detroit Pistons*,82,19780,41.1,88.0,0.467,1.4,4.9,0.289,...,14.1,28.1,42.2,24.2,8.0,5.0,16.4,26.7,105.3,1988
3,4,Atlanta Hawks*,82,19780,40.8,86.7,0.471,1.7,5.1,0.335,...,14.6,29.6,44.2,24.9,8.1,4.4,16.6,25.3,107.6,1988
4,5,Utah Jazz*,82,19705,39.3,87.4,0.449,1.8,5.6,0.315,...,15.3,29.3,44.6,23.9,9.2,5.7,17.6,24.1,103.1,1988

In [56]:
opp_poss_89 = pd.read_csv(opp_poss_fp[9])
opp_poss_89['year'] = 1989
opp_poss_89.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Utah Jazz*,82,19730,38.7,89.0,0.434,2.3,7.5,0.305,...,15.1,27.7,42.9,22.5,9.7,6.3,16.5,25.9,101.5,1989
1,2,Detroit Pistons*,82,19830,39.8,89.0,0.447,2.0,7.0,0.285,...,14.3,27.7,42.1,23.5,8.2,4.3,15.5,26.5,104.7,1989
2,3,Cleveland Cavaliers*,82,19755,42.0,91.1,0.461,2.1,6.3,0.339,...,15.0,28.3,43.3,25.3,8.5,4.5,17.7,24.4,102.9,1989
3,4,Dallas Mavericks,82,19780,43.3,92.5,0.469,2.1,6.5,0.322,...,15.6,31.6,47.2,27.0,8.4,4.9,14.9,23.7,108.6,1989
4,5,Chicago Bulls*,82,19780,42.0,88.8,0.474,2.4,7.4,0.327,...,13.5,28.8,42.3,26.3,8.6,4.4,15.7,22.3,107.7,1989

In [57]:
opp_poss_90 = pd.read_csv(opp_poss_fp[10])
opp_poss_90['year'] = 1990
opp_poss_90.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Detroit Pistons*,82,19805,39.1,87.4,0.447,2.4,7.2,0.333,...,13.4,29.3,42.6,22.7,7.8,3.9,16.0,26.6,103.5,1990
1,2,Minnesota Timberwolves,82,19855,40.9,84.8,0.482,1.7,5.2,0.330,...,13.9,30.8,44.8,25.0,7.7,6.5,18.1,23.2,108.2,1990
2,3,Utah Jazz*,82,19830,39.9,87.5,0.455,2.2,7.1,0.309,...,13.9,27.8,41.7,23.7,9.3,5.7,15.6,24.1,105.4,1990
3,4,Dallas Mavericks*,82,19855,42.1,89.7,0.469,2.2,7.5,0.298,...,14.6,30.7,45.3,25.1,8.3,5.0,15.8,23.4,107.2,1990
4,5,San Antonio Spurs*,82,19730,40.4,87.6,0.461,2.9,7.7,0.370,...,13.9,27.7,41.6,24.3,9.4,5.1,17.5,23.7,104.2,1990

In [58]:
opp_poss_91 = pd.read_csv(opp_poss_fp[11])
opp_poss_91['year'] = 1991
opp_poss_91.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Detroit Pistons*,82,19805,40.3,88.9,0.453,2.1,6.6,0.312,...,13.2,30.0,43.2,22.9,7.7,3.8,14.9,26.2,104.6,1991
1,2,Los Angeles Lakers*,82,19830,43.1,93.4,0.462,2.3,7.4,0.311,...,14.5,28.1,42.7,25.7,8.6,4.3,15.1,23.4,105.0,1991
2,3,Utah Jazz*,82,19780,41.0,89.3,0.459,2.6,8.5,0.307,...,14.0,29.0,43.0,23.7,8.7,5.2,16.0,25.4,105.1,1991
3,4,Chicago Bulls*,82,19755,41.5,87.5,0.475,2.4,8.0,0.304,...,13.5,27.5,41.0,25.6,8.0,4.4,17.8,23.2,105.2,1991
4,5,San Antonio Spurs*,82,19830,40.1,89.5,0.448,2.7,8.6,0.310,...,13.8,27.9,41.6,23.7,9.8,5.4,15.5,24.7,103.3,1991

In [59]:
opp_poss_92 = pd.read_csv(opp_poss_fp[12])
opp_poss_92['year'] = 1992
opp_poss_92.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Detroit Pistons*,82,19780,41.8,92.4,0.453,2.8,8.3,0.338,...,14.8,29.9,44.6,25.1,8.5,4.9,14.8,25.4,105.3,1992
1,2,New York Knicks*,82,19855,40.1,87.5,0.458,2.3,7.9,0.295,...,13.2,29.1,42.3,23.1,8.7,5.1,16.2,23.4,104.2,1992
2,3,Chicago Bulls*,82,19830,41.1,89.4,0.460,2.8,8.4,0.332,...,13.9,27.8,41.7,23.6,8.1,4.5,16.5,23.1,104.5,1992
3,4,San Antonio Spurs*,82,19780,40.5,89.5,0.452,3.1,8.8,0.347,...,13.9,29.8,43.7,23.7,9.5,5.8,15.8,22.8,104.1,1992
4,5,Los Angeles Lakers*,82,19830,44.6,92.9,0.480,2.3,7.8,0.292,...,16.2,31.2,47.4,28.4,7.8,5.1,16.4,24.0,108.9,1992

In [60]:
opp_poss_93 = pd.read_csv(opp_poss_fp[13])
opp_poss_93['year'] = 1993
opp_poss_93.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,New York Knicks*,82,19930,36.0,84.4,0.426,2.9,9.6,0.305,...,13.1,29.6,42.8,21.1,8.4,4.9,17.3,25.6,99.7,1993
1,2,Chicago Bulls*,82,19830,41.1,86.7,0.474,3.2,9.0,0.361,...,13.6,29.6,43.2,25.1,7.8,4.7,18.0,22.7,106.1,1993
2,3,Houston Rockets*,82,19780,41.8,91.6,0.457,3.1,9.4,0.332,...,15.0,29.5,44.5,25.3,9.2,4.2,15.8,23.0,105.2,1993
3,4,Cleveland Cavaliers*,82,19830,43.0,92.3,0.466,2.9,8.9,0.329,...,14.2,30.4,44.6,26.9,7.8,4.7,15.4,23.3,106.0,1993
4,5,Seattle SuperSonics*,82,19780,39.7,84.7,0.469,3.4,10.2,0.337,...,13.6,28.1,41.6,23.2,8.3,5.1,19.2,23.4,104.9,1993

In [61]:
opp_poss_94 = pd.read_csv(opp_poss_fp[14])
opp_poss_94['year'] = 1994
opp_poss_94.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,New York Knicks*,82,19755,36.4,84.4,0.431,3.3,10.8,0.307,...,13.3,29.4,42.7,21.9,8.9,4.4,18.6,24.8,98.2,1994
1,2,San Antonio Spurs*,82,19780,41.3,92.6,0.446,3.9,11.7,0.333,...,14.7,29.0,43.7,23.8,8.5,4.7,13.7,24.1,104.6,1994
2,3,Chicago Bulls*,82,19780,40.0,86.4,0.463,3.3,10.3,0.323,...,13.0,29.6,42.6,24.3,9.6,4.9,17.6,22.8,102.7,1994
3,4,Atlanta Hawks*,82,19755,40.8,89.6,0.455,3.5,11.2,0.315,...,14.9,30.4,45.3,24.5,8.3,4.4,18.9,22.2,101.7,1994
4,5,Houston Rockets*,82,19780,40.3,91.6,0.440,3.3,10.7,0.306,...,14.5,31.1,45.6,24.3,9.8,4.0,15.6,22.3,101.4,1994

In [62]:
opp_poss_95 = pd.read_csv(opp_poss_fp[15])
opp_poss_95['year'] = 1995
opp_poss_95.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Cleveland Cavaliers*,82,19930,39.8,86.4,0.461,5.6,15.7,0.357,...,12.1,31.9,44.0,25.7,7.9,6.1,17.2,25.1,104.6,1995
1,2,New York Knicks*,82,19780,37.3,85.3,0.437,5.3,15.5,0.341,...,13.6,30.8,44.4,21.1,8.5,4.3,16.8,25.4,103.8,1995
2,3,Atlanta Hawks*,82,19855,40.4,87.3,0.463,5.7,16.3,0.347,...,14.1,32.2,46.3,23.3,8.2,4.3,18.3,24.4,105.2,1995
3,4,Indiana Pacers*,82,19780,39.4,86.4,0.456,6.4,17.6,0.364,...,14.1,29.1,43.2,24.3,9.3,5.6,18.5,27.7,105.6,1995
4,5,Chicago Bulls*,82,19830,38.4,84.2,0.457,5.3,15.1,0.349,...,14.0,29.6,43.7,22.5,9.0,4.9,19.5,24.9,104.3,1995

In [63]:
opp_poss_96 = pd.read_csv(opp_poss_fp[16])
opp_poss_96['year'] = 1996
opp_poss_96.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Cleveland Cavaliers*,82,19830,39.3,85.1,0.462,7.5,19.4,0.388,...,12.8,31.9,44.7,26.7,7.4,4.9,18.8,24.5,106.7,1996
1,2,Detroit Pistons*,82,19830,39.0,88.0,0.443,7.0,19.0,0.366,...,13.3,31.3,44.6,23.9,7.7,5.3,15.9,26.0,105.1,1996
2,3,Chicago Bulls*,82,19730,38.5,85.8,0.448,5.8,16.7,0.350,...,13.1,28.5,41.6,21.3,7.9,4.2,18.8,24.8,101.8,1996
3,4,New York Knicks*,82,19830,38.0,86.1,0.442,5.9,17.4,0.337,...,13.2,32.3,45.5,22.2,8.7,3.7,17.2,23.4,103.5,1996
4,5,Miami Heat*,82,19780,36.4,83.9,0.434,5.9,16.5,0.361,...,13.1,30.8,43.9,21.9,8.8,5.4,17.2,27.0,103.8,1996

In [64]:
opp_poss_97 = pd.read_csv(opp_poss_fp[17])
opp_poss_97['year'] = 1997
opp_poss_97.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Cleveland Cavaliers,82,19855,36.3,82.2,0.441,6.7,17.9,0.373,...,12.3,31.9,44.2,24.0,8.0,5.1,19.4,25.5,102.4,1997
1,2,Detroit Pistons*,82,19830,39.6,89.2,0.444,7.6,20.5,0.369,...,13.8,32.4,46.2,25.7,7.0,4.0,17.1,25.5,104.4,1997
2,3,Miami Heat*,82,19805,36.9,85.5,0.432,5.6,15.6,0.362,...,13.7,31.9,45.6,20.8,8.9,5.4,18.2,25.1,100.6,1997
3,4,Atlanta Hawks*,82,19805,39.1,90.0,0.435,6.8,19.5,0.347,...,14.6,31.1,45.6,23.2,8.4,4.6,17.7,24.4,102.3,1997
4,5,New York Knicks*,82,19855,35.6,83.7,0.425,6.4,18.3,0.350,...,12.2,29.6,41.8,21.2,9.7,3.9,17.8,25.1,101.0,1997

In [65]:
opp_poss_98 = pd.read_csv(opp_poss_fp[18])
opp_poss_98['year'] = 1998
opp_poss_98.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19830,37.5,91.1,0.411,4.6,14.1,0.328,...,13.9,30.6,44.5,21.3,10.0,5.2,14.3,25.3,99.4,1998
1,2,New York Knicks*,82,19830,36.0,84.1,0.428,4.5,14.3,0.317,...,11.7,32.1,43.8,21.7,9.0,4.3,16.9,23.4,100.3,1998
2,3,Chicago Bulls*,82,19855,38.0,88.0,0.431,4.5,13.9,0.322,...,13.8,30.4,44.2,21.7,8.9,4.8,17.2,24.1,99.8,1998
3,4,Cleveland Cavaliers*,82,19830,36.2,83.7,0.433,4.6,13.4,0.344,...,12.8,30.0,42.8,24.1,9.5,6.1,19.4,25.6,99.1,1998
4,5,Indiana Pacers*,82,19830,38.4,88.8,0.432,3.8,11.9,0.316,...,15.3,31.0,46.4,21.9,8.9,5.0,17.0,25.4,101.6,1998

In [66]:
opp_poss_99 = pd.read_csv(opp_poss_fp[19])
opp_poss_99['year'] = 1999
opp_poss_99.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks*,50,12075,37.2,90.2,0.413,4.4,14.8,0.300,...,13.5,31.9,45.4,20.8,8.8,5.7,15.7,28.0,97.1,1999
1,2,Miami Heat*,50,12025,36.8,89.6,0.411,5.0,14.3,0.348,...,14.6,31.6,46.2,20.1,9.1,4.4,15.9,25.9,98.9,1999
2,3,San Antonio Spurs*,50,12075,36.6,91.1,0.402,3.8,12.5,0.304,...,15.6,31.5,47.2,21.1,9.8,5.4,16.4,25.7,95.0,1999
3,4,New York Knicks*,50,12100,34.9,86.5,0.403,5.3,15.1,0.353,...,14.1,32.6,46.6,21.1,9.7,4.9,17.5,23.6,97.5,1999
4,5,Utah Jazz*,50,12175,36.2,87.6,0.413,4.9,15.1,0.321,...,14.4,29.3,43.7,20.5,9.8,6.0,16.9,29.7,98.4,1999

In [67]:
opp_poss_00 = pd.read_csv(opp_poss_fp[20])
opp_poss_00['year'] = 2000
opp_poss_00.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19855,38.4,90.3,0.425,4.7,13.8,0.343,...,13.1,32.1,45.2,22.2,8.6,5.7,15.7,25.2,98.6,2000
1,2,New York Knicks*,82,19830,36.8,86.8,0.424,5.5,16.2,0.338,...,12.6,33.1,45.7,21.8,8.2,4.8,15.8,24.4,100.9,2000
2,3,Portland Trail Blazers*,82,19780,38.1,88.5,0.431,5.3,16.1,0.330,...,13.2,30.0,43.2,23.0,8.8,4.7,16.0,25.3,100.8,2000
3,4,Miami Heat*,82,19830,37.5,89.0,0.422,5.5,15.3,0.361,...,13.1,31.6,44.7,21.4,8.4,4.9,15.5,24.2,101.0,2000
4,5,Utah Jazz*,82,19755,37.7,84.6,0.446,5.3,14.9,0.354,...,12.0,30.3,42.3,22.0,8.0,5.6,17.2,27.4,102.3,2000

In [68]:
opp_poss_01 = pd.read_csv(opp_poss_fp[21])
opp_poss_01['year'] = 2001
opp_poss_01.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,New York Knicks*,82,19905,35.7,85.7,0.417,6.2,17.6,0.352,...,12.1,33.6,45.8,21.9,8.3,4.7,16.9,24.4,98.2,2001
1,2,Miami Heat*,82,19880,37.4,86.8,0.431,5.0,15.1,0.331,...,12.7,35.0,47.7,19.7,8.3,5.9,17.7,25.3,98.5,2001
2,3,San Antonio Spurs*,82,19830,38.3,91.5,0.419,4.6,14.1,0.329,...,13.1,32.9,45.9,21.8,8.1,5.8,15.0,26.3,98.0,2001
3,4,Charlotte Hornets*,82,19880,37.4,87.8,0.426,5.3,14.6,0.360,...,12.0,32.9,44.9,23.6,8.3,5.1,16.3,23.9,99.5,2001
4,5,Philadelphia 76ers*,82,19855,38.3,89.4,0.429,5.7,16.7,0.342,...,13.1,31.6,44.7,23.6,9.0,6.1,16.8,25.9,98.9,2001

In [69]:
opp_poss_02 = pd.read_csv(opp_poss_fp[22])
opp_poss_02['year'] = 2002
opp_poss_02.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Miami Heat,82,19930,36.7,86.5,0.425,5.2,15.3,0.342,...,12.3,34.2,46.5,20.1,8.5,4.9,15.6,23.5,100.2,2002
1,2,Philadelphia 76ers*,82,19730,37.9,89.0,0.426,6.0,18.1,0.331,...,13.4,32.1,45.6,24.2,9.0,6.3,16.5,25.0,100.3,2002
2,3,San Antonio Spurs*,82,19855,38.7,91.0,0.426,5.0,14.9,0.338,...,13.5,32.6,46.1,20.7,8.5,5.7,16.0,25.5,99.7,2002
3,4,Toronto Raptors*,82,19755,38.6,87.5,0.441,5.2,14.9,0.346,...,13.6,33.3,47.0,22.3,8.6,5.4,17.1,22.1,103.1,2002
4,5,New Jersey Nets*,82,19830,37.7,87.9,0.429,5.4,15.5,0.348,...,13.2,33.2,46.4,20.6,8.8,5.8,17.4,22.0,99.5,2002

In [70]:
opp_poss_03 = pd.read_csv(opp_poss_fp[23])
opp_poss_03['year'] = 2003
opp_poss_03.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Detroit Pistons*,82,19905,38.1,87.1,0.438,4.0,11.7,0.344,...,11.9,35.1,47.1,20.9,7.9,4.9,16.0,26.5,99.9,2003
1,2,New Jersey Nets*,82,19755,36.6,85.7,0.427,5.6,15.7,0.359,...,12.4,32.7,45.0,21.3,9.2,5.6,18.0,24.9,98.1,2003
2,3,San Antonio Spurs*,82,19830,38.5,90.1,0.427,4.8,14.0,0.339,...,13.8,31.2,45.1,21.0,8.9,5.7,16.6,25.7,99.7,2003
3,4,Miami Heat,82,19830,37.4,85.5,0.437,5.6,15.8,0.353,...,12.0,35.6,47.7,20.4,8.6,6.0,16.2,23.0,102.4,2003
4,5,New Orleans Hornets*,82,19905,38.6,88.0,0.438,4.6,13.5,0.338,...,12.3,32.0,44.2,22.0,8.7,5.8,16.1,23.7,101.6,2003

In [71]:
opp_poss_04 = pd.read_csv(opp_poss_fp[24])
opp_poss_04['year'] = 2004
opp_poss_04.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19805,37.0,86.7,0.426,4.4,12.0,0.367,...,12.2,32.7,44.9,18.9,8.1,5.7,16.9,25.8,98.8,2004
1,2,Detroit Pistons*,82,19955,38.5,89.6,0.430,5.7,16.7,0.338,...,12.8,32.0,44.8,22.3,8.4,5.1,15.7,25.5,101.2,2004
2,3,Houston Rockets*,82,19855,37.0,87.5,0.423,6.2,18.3,0.338,...,12.1,33.3,45.4,23.1,8.3,4.6,14.8,24.1,101.7,2004
3,4,Memphis Grizzlies*,82,19705,37.0,85.6,0.432,5.9,16.7,0.351,...,13.7,32.9,46.5,22.5,8.4,6.6,17.9,25.5,102.9,2004
4,5,Indiana Pacers*,82,19905,38.3,86.9,0.440,5.4,14.8,0.365,...,13.4,33.4,46.9,21.3,7.6,5.5,15.8,26.0,104.6,2004

In [72]:
opp_poss_05 = pd.read_csv(opp_poss_fp[25])
opp_poss_05['year'] = 2005
opp_poss_05.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19805,37.0,86.7,0.426,4.4,12.0,0.367,...,12.2,32.7,44.9,18.9,8.1,5.7,16.9,25.8,98.8,2005
1,2,Detroit Pistons*,82,19955,38.5,89.6,0.430,5.7,16.7,0.338,...,12.8,32.0,44.8,22.3,8.4,5.1,15.7,25.5,101.2,2005
2,3,Houston Rockets*,82,19855,37.0,87.5,0.423,6.2,18.3,0.338,...,12.1,33.3,45.4,23.1,8.3,4.6,14.8,24.1,101.7,2005
3,4,Memphis Grizzlies*,82,19705,37.0,85.6,0.432,5.9,16.7,0.351,...,13.7,32.9,46.5,22.5,8.4,6.6,17.9,25.5,102.9,2005
4,5,Indiana Pacers*,82,19905,38.3,86.9,0.440,5.4,14.8,0.365,...,13.4,33.4,46.9,21.3,7.6,5.5,15.8,26.0,104.6,2005

In [73]:
opp_poss_06 = pd.read_csv(opp_poss_fp[26])
opp_poss_06['year'] = 2006
opp_poss_06.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Memphis Grizzlies*,82,19855,37.7,86.5,0.436,5.7,17.1,0.334,...,13.0,33.7,46.7,22.5,8.4,6.4,17.0,26.2,101.6,2006
1,2,San Antonio Spurs*,82,19805,38.1,87.9,0.433,4.1,12.1,0.339,...,12.1,33.1,45.2,18.3,8.2,4.7,15.6,23.4,99.6,2006
2,3,Detroit Pistons*,82,19830,40.7,90.0,0.452,4.6,14.1,0.325,...,13.3,33.5,46.7,21.5,6.7,4.0,16.0,24.1,103.1,2006
3,4,Houston Rockets,82,19830,37.2,86.8,0.429,7.4,20.1,0.369,...,12.0,34.1,46.1,22.6,8.0,5.1,15.0,23.6,103.3,2006
4,5,Indiana Pacers*,82,19730,38.4,88.2,0.435,5.0,14.7,0.343,...,13.1,32.8,45.9,20.6,9.0,5.4,15.1,24.4,102.4,2006

In [74]:
opp_poss_07 = pd.read_csv(opp_poss_fp[27])
opp_poss_07['year'] = 2007
opp_poss_07.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19780,38.7,87.4,0.443,5.0,14.9,0.334,...,11.2,32.2,43.4,19.1,7.8,4.6,15.9,23.5,99.9,2007
1,2,Detroit Pistons*,82,19880,39.0,87.7,0.445,5.7,16.7,0.339,...,13.5,33.2,46.7,22.8,7.2,4.0,16.7,23.1,104.2,2007
2,3,Houston Rockets*,82,19855,37.2,86.7,0.429,6.3,17.9,0.351,...,10.7,34.0,44.6,21.2,7.6,4.7,15.5,21.7,100.7,2007
3,4,Dallas Mavericks*,82,19755,37.9,84.7,0.447,5.1,14.6,0.349,...,11.4,31.0,42.4,20.0,7.7,4.2,16.1,24.6,103.2,2007
4,5,Cleveland Cavaliers*,82,19880,37.7,84.3,0.448,5.4,16.4,0.329,...,10.7,32.7,43.4,21.9,7.2,4.6,16.7,24.0,101.3,2007

In [75]:
opp_poss_08 = pd.read_csv(opp_poss_fp[28])
opp_poss_08['year'] = 2008
opp_poss_08.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Detroit Pistons*,82,19730,38.0,86.9,0.437,5.7,17.2,0.332,...,12.1,32.7,44.7,21.8,6.6,4.4,15.4,22.5,102.9,2008
1,2,Boston Celtics*,82,19755,35.5,84.7,0.419,6.5,20.5,0.316,...,12.0,30.6,42.6,20.6,7.9,5.2,17.5,24.3,98.9,2008
2,3,San Antonio Spurs*,82,19730,39.2,88.1,0.444,5.8,16.8,0.342,...,10.6,34.6,45.3,20.4,7.8,4.9,14.5,22.3,101.8,2008
3,4,Houston Rockets*,82,19730,38.4,88.8,0.433,5.8,16.0,0.365,...,12.0,32.9,44.9,20.8,8.4,5.1,14.7,21.7,101.6,2008
4,5,New Orleans Hornets*,82,19805,41.0,89.0,0.460,7.3,20.9,0.351,...,11.0,34.1,45.1,24.0,6.3,4.5,15.3,21.2,105.7,2008

In [76]:
opp_poss_09 = pd.read_csv(opp_poss_fp[29])
opp_poss_09['year'] = 2009
opp_poss_09.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Cleveland Cavaliers*,82,19780,37.9,88.1,0.431,6.6,19.8,0.333,...,12.0,31.6,43.6,21.4,7.1,4.6,15.5,22.8,102.4,2009
1,2,San Antonio Spurs*,82,19905,40.5,89.6,0.453,6.1,16.1,0.379,...,10.2,35.1,45.2,20.2,7.2,4.8,13.1,20.6,104.3,2009
2,3,Boston Celtics*,82,19880,36.9,85.7,0.431,6.8,19.4,0.349,...,11.1,30.0,41.2,20.7,7.8,5.2,16.0,24.3,102.3,2009
3,4,Portland Trail Blazers*,82,19830,40.5,88.0,0.460,6.8,18.2,0.374,...,11.0,30.6,41.6,22.2,7.2,4.5,15.1,24.2,107.8,2009
4,5,New Orleans Hornets*,82,19755,39.4,87.6,0.450,8.0,22.5,0.354,...,11.4,34.0,45.4,22.8,6.6,4.0,15.1,23.2,107.0,2009

In [77]:
opp_poss_10 = pd.read_csv(opp_poss_fp[30])
opp_poss_10['year'] = 2010
opp_poss_10.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Charlotte Bobcats*,82,19880,39.1,87.3,0.448,7.7,22.7,0.338,...,11.6,31.8,43.4,22.3,8.2,6.7,16.8,24.1,102.8,2010
1,2,Miami Heat*,82,19880,37.9,86.3,0.439,7.1,20.6,0.342,...,11.5,33.4,45.0,20.8,7.0,4.8,15.9,22.1,104.1,2010
2,3,Portland Trail Blazers*,82,19855,40.6,87.5,0.464,6.6,19.3,0.343,...,11.0,32.0,43.0,21.8,6.7,4.6,15.2,24.3,107.1,2010
3,4,Orlando Magic*,82,19730,39.1,89.1,0.438,6.9,19.0,0.363,...,10.6,32.8,43.4,20.5,7.3,3.8,13.9,24.0,103.3,2010
4,5,Boston Celtics*,82,19780,38.1,84.6,0.451,6.2,18.2,0.342,...,11.5,32.0,43.5,21.0,7.7,5.1,17.0,23.5,103.8,2010

In [78]:
opp_poss_11 = pd.read_csv(opp_poss_fp[31])
opp_poss_11['year'] = 2011
opp_poss_11.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Boston Celtics*,82,19780,37.2,85.5,0.434,5.9,17.5,0.340,...,11.6,32.0,43.6,20.6,7.7,4.9,16.9,22.3,100.3,2011
1,2,Chicago Bulls*,82,19830,37.6,87.4,0.430,5.7,17.5,0.326,...,11.1,31.1,42.2,20.8,7.6,6.4,15.5,22.0,100.3,2011
2,3,Milwaukee Bucks,82,19830,38.2,85.5,0.447,5.9,17.6,0.334,...,11.3,35.4,46.7,22.3,6.8,5.3,16.8,22.8,102.5,2011
3,4,Orlando Magic*,82,19830,38.0,87.1,0.436,6.8,19.6,0.350,...,10.7,32.5,43.2,21.8,8.0,4.1,15.1,23.8,102.0,2011
4,5,New Orleans Hornets*,82,19830,39.3,86.0,0.457,7.6,21.3,0.357,...,10.5,33.5,44.0,23.7,6.8,5.4,16.3,22.8,105.2,2011

In [79]:
opp_poss_12 = pd.read_csv(opp_poss_fp[32])
opp_poss_12['year'] = 2012
opp_poss_12.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Chicago Bulls*,66,15940,38.6,91.5,0.421,5.2,15.9,0.325,...,12.7,31.9,44.6,21.0,8.3,5.8,14.8,19.7,98.3,2012
1,2,Boston Celtics*,66,15940,36.8,87.7,0.419,5.7,18.6,0.308,...,13.0,34.5,47.5,20.5,8.6,5.1,17.2,20.3,98.2,2012
2,3,Philadelphia 76ers*,66,15915,38.1,89.2,0.427,6.0,18.0,0.334,...,11.9,36.7,48.5,21.7,6.6,5.3,15.4,18.0,99.2,2012
3,4,Miami Heat*,66,16040,37.5,86.4,0.434,7.9,21.6,0.363,...,11.9,31.1,43.0,21.3,9.0,4.6,18.2,22.2,100.2,2012
4,5,Memphis Grizzlies*,66,15940,37.8,85.1,0.444,6.9,20.1,0.345,...,12.1,32.4,44.5,21.1,8.6,6.0,18.7,21.1,101.8,2012

In [80]:
opp_poss_13 = pd.read_csv(opp_poss_fp[33])
opp_poss_13['year'] = 2013
opp_poss_13.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Memphis Grizzlies*,82,19805,37.7,86.5,0.435,6.9,20.4,0.338,...,11.6,32.3,43.9,21.9,8.2,6.2,17.4,22.5,100.3,2013
1,2,Indiana Pacers*,81,19590,38.0,90.4,0.420,6.0,18.3,0.327,...,12.3,32.6,45.0,21.1,8.3,6.2,14.9,24.1,99.8,2013
2,3,Chicago Bulls*,82,19830,39.4,88.9,0.443,6.1,17.7,0.346,...,12.2,33.4,45.6,20.9,8.1,6.5,15.2,21.8,103.2,2013
3,4,Los Angeles Clippers*,82,19730,37.8,85.4,0.443,8.4,22.4,0.373,...,11.9,30.9,42.8,24.2,8.1,4.5,17.6,22.8,103.6,2013
4,5,Miami Heat*,82,19880,38.9,88.3,0.440,8.3,23.7,0.350,...,12.3,31.5,43.8,22.0,8.6,3.5,17.0,22.3,103.7,2013

In [81]:
opp_poss_14 = pd.read_csv(opp_poss_fp[34])
opp_poss_14['year'] = 2014
opp_poss_14.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Chicago Bulls*,82,19930,38.3,88.9,0.430,7.2,20.5,0.351,...,11.7,33.5,45.2,21.4,8.3,6.5,15.7,22.9,100.5,2014
1,2,Indiana Pacers*,82,19780,37.4,89.0,0.420,7.1,20.5,0.345,...,11.2,33.1,44.3,20.0,7.8,5.0,14.7,23.5,99.3,2014
2,3,Memphis Grizzlies*,82,19805,39.4,87.7,0.450,8.3,23.3,0.355,...,10.9,32.4,43.3,22.0,8.0,5.5,15.7,20.9,104.6,2014
3,4,Charlotte Bobcats*,82,19905,39.4,89.2,0.442,8.7,23.5,0.369,...,10.2,36.1,46.3,22.4,6.7,5.4,14.2,22.4,103.8,2014
4,5,Miami Heat*,82,19880,39.2,85.7,0.457,9.2,25.4,0.362,...,11.7,32.0,43.8,23.2,8.8,3.4,18.1,22.2,105.8,2014

In [82]:
opp_poss_15 = pd.read_csv(opp_poss_fp[35])
opp_poss_15['year'] = 2015
opp_poss_15.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Utah Jazz,82,19705,39.5,88.8,0.446,8.1,22.5,0.362,...,10.9,32.4,43.3,21.5,9.1,5.1,14.5,21.6,104.9,2015
1,2,Memphis Grizzlies*,82,19905,38.7,87.6,0.442,8.7,24.8,0.351,...,11.3,34.3,45.6,21.7,7.9,5.6,16.5,21.8,102.2,2015
2,3,San Antonio Spurs*,82,19955,39.0,88.0,0.444,7.2,19.9,0.360,...,10.4,33.9,44.3,21.8,8.3,4.6,15.0,20.7,102.0,2015
3,4,Indiana Pacers,82,19855,38.3,88.0,0.435,7.7,22.2,0.345,...,10.4,35.1,45.5,21.2,8.0,5.0,13.6,22.8,103.2,2015
4,5,Atlanta Hawks*,82,19730,38.7,88.3,0.439,9.3,27.3,0.341,...,12.3,34.1,46.3,25.0,7.8,5.2,17.1,20.9,103.1,2015

In [83]:
opp_poss_16 = pd.read_csv(opp_poss_fp[36])
opp_poss_16['year'] = 2016
opp_poss_16.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs*,82,19705,38.0,87.2,0.436,7.0,21.2,0.331,...,9.7,33.5,43.2,22.2,7.7,4.1,15.8,20.7,99.0,2016
1,2,Utah Jazz,82,19955,38.6,86.6,0.446,8.6,24.0,0.357,...,10.1,33.3,43.4,20.7,8.6,5.1,15.1,21.5,103.9,2016
2,3,Toronto Raptors*,82,19780,39.1,87.9,0.444,9.4,25.1,0.373,...,10.2,33.5,43.7,23.3,7.0,5.8,14.3,23.5,105.2,2016
3,4,Cleveland Cavaliers*,82,19855,39.1,87.3,0.448,8.4,24.1,0.347,...,9.8,33.7,43.6,22.8,7.6,4.7,14.2,21.9,104.5,2016
4,5,Miami Heat*,82,19830,39.5,89.4,0.442,7.8,22.5,0.347,...,10.4,33.4,43.8,21.4,7.9,4.4,13.7,20.8,104.4,2016

In [84]:
opp_poss_17 = pd.read_csv(opp_poss_fp[37])
opp_poss_17['year'] = 2017
opp_poss_17.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Utah Jazz*,82,19755,39.5,89.2,0.443,8.9,24.9,0.358,...,9.8,33.9,43.7,19.4,7.9,4.1,13.2,22.0,105.3,2017
1,2,San Antonio Spurs*,82,19805,39.0,88.0,0.443,8.6,25.0,0.344,...,10.3,33.4,43.7,22.6,7.9,4.3,15.2,20.9,103.5,2017
2,3,Memphis Grizzlies*,82,19905,37.4,84.5,0.443,10.6,30.0,0.354,...,9.9,35.2,45.1,21.5,7.5,5.4,15.3,22.3,107.1,2017
3,4,Dallas Mavericks,82,19780,39.9,85.2,0.469,10.4,27.3,0.380,...,9.6,38.5,48.0,22.9,7.0,3.7,16.1,20.9,108.8,2017
4,5,Miami Heat,82,19780,39.6,88.0,0.450,8.1,23.8,0.343,...,10.7,34.9,45.5,20.5,7.1,5.1,14.3,19.5,106.7,2017

In [85]:
opp_poss_18 = pd.read_csv(opp_poss_fp[38])
opp_poss_18['year'] = 2018
opp_poss_18.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Utah Jazz*,82,19755,38.8,86.4,0.449,9.9,27.0,0.365,...,9.0,34.3,43.3,20.8,8.6,4.8,15.5,21.4,103.9,2018
1,2,San Antonio Spurs*,82,19730,40.1,88.5,0.453,9.6,27.6,0.348,...,9.7,35.0,44.6,22.9,8.0,4.1,14.8,20.7,104.8,2018
2,3,Boston Celtics*,82,19805,38.7,88.0,0.440,9.7,28.6,0.339,...,10.0,35.4,45.4,22.0,7.5,4.6,14.6,19.8,103.9,2018
3,4,Miami Heat*,82,19930,38.9,86.6,0.450,9.9,27.5,0.360,...,9.4,35.2,44.5,21.7,7.8,4.8,14.6,20.0,106.3,2018
4,5,Portland Trail Blazers*,82,19755,39.6,88.7,0.447,10.0,27.4,0.364,...,9.6,34.7,44.3,20.8,7.6,5.3,13.0,19.7,106.4,2018

In [86]:
opp_poss_19 = pd.read_csv(opp_poss_fp[39])
opp_poss_19['year'] = 2019
opp_poss_19.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Indiana Pacers*,82,19705,39.4,87.6,0.450,11.6,32.7,0.354,...,10.7,33.7,44.4,24.9,7.5,5.3,15.9,20.4,106.5,2019
1,2,Miami Heat,82,19730,38.9,88.1,0.441,12.0,33.6,0.358,...,10.3,34.6,44.9,23.7,7.6,4.8,14.4,20.5,107.6,2019
2,3,Memphis Grizzlies,82,19880,38.5,85.4,0.451,11.9,33.0,0.360,...,9.8,36.0,45.8,24.0,7.8,5.0,15.6,22.0,108.8,2019
3,4,Utah Jazz*,82,19755,39.7,87.8,0.452,9.8,27.5,0.355,...,8.9,33.5,42.3,21.4,8.4,4.6,13.8,22.2,105.7,2019
4,5,Orlando Magic*,82,19780,40.5,88.9,0.456,10.6,30.6,0.347,...,9.1,36.1,45.3,23.4,7.1,4.5,13.2,19.0,108.1,2019

In [87]:
opp_poss_20 = pd.read_csv(opp_poss_fp[40])
opp_poss_20['year'] = 2020
opp_poss_20.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Charlotte Hornets,65,15750,43.1,90.5,0.476,12.8,36.2,0.352,...,11.3,36.2,47.5,27.5,8.3,5.2,14.9,21.3,113.3,2020
1,2,Chicago Bulls,65,15675,39.5,82.4,0.479,11.2,31.6,0.353,...,10.1,35.3,45.5,25.4,8.1,5.9,18.2,19.1,109.8,2020
2,3,Detroit Pistons,66,15965,42.6,88.8,0.480,10.9,30.1,0.361,...,10.3,34.0,44.2,25.0,8.4,5.7,14.2,20.1,112.7,2020
3,4,New York Knicks,66,15965,40.1,86.6,0.463,13.4,35.1,0.381,...,9.6,34.8,44.5,24.5,7.2,5.1,13.8,19.9,113.0,2020
4,5,Cleveland Cavaliers,65,15725,44.1,89.9,0.491,12.4,33.2,0.375,...,9.8,33.3,43.1,26.3,9.5,6.4,13.1,19.8,115.4,2020

In [88]:
opp_poss_all = pd.concat([opp_poss_80, opp_poss_81, opp_poss_82, opp_poss_83, opp_poss_84, opp_poss_85, opp_poss_86, opp_poss_87, opp_poss_88, opp_poss_89, opp_poss_90, opp_poss_91, opp_poss_92, opp_poss_93, opp_poss_94, opp_poss_95, opp_poss_96, opp_poss_97, opp_poss_98, opp_poss_99, opp_poss_00, opp_poss_01, opp_poss_02, opp_poss_03, opp_poss_04, opp_poss_05, opp_poss_06, opp_poss_07, opp_poss_08, opp_poss_09, opp_poss_10, opp_poss_11, opp_poss_12, opp_poss_13, opp_poss_14, opp_poss_15, opp_poss_16, opp_poss_17, opp_poss_18, opp_poss_19, opp_poss_20])
opp_poss_all.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks*,82,19780,38.6,84.3,0.458,0.6,2.2,0.251,...,15.5,28.7,44.2,21.6,8.4,6.8,20.4,26.6,102.3,1980
1,2,Portland Trail Blazers*,82,19780,41.2,86.3,0.478,0.7,2.3,0.296,...,14.0,29.0,43.0,24.7,9.3,4.9,17.8,23.1,104.3,1980
2,3,Seattle SuperSonics*,82,19830,40.5,88.3,0.459,0.7,2.9,0.246,...,14.3,28.6,42.9,24.0,8.7,4.7,18.1,23.7,101.2,1980
3,4,Philadelphia 76ers*,82,19855,40.4,88.7,0.455,0.9,3.3,0.271,...,15.5,27.6,43.1,24.5,10.3,4.6,18.3,24.6,101.0,1980
4,5,Kansas City Kings*,82,19805,39.1,82.1,0.476,0.5,2.0,0.238,...,13.4,31.0,44.4,20.9,8.2,5.0,20.7,24.3,101.0,1980

In [89]:
opp_poss_all.tail()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
25,26,Memphis Grizzlies,73,17570,39.4,87.6,0.450,12.5,34.3,0.365,...,10.0,33.5,43.5,24.1,7.8,5.1,14.3,19.6,110.3,2020
26,27,Dallas Mavericks*,75,18175,41.8,91.3,0.458,12.2,34.8,0.351,...,10.4,34.9,45.3,23.9,7.0,4.1,11.9,21.3,111.7,2020
27,28,New Orleans Pelicans,72,17430,40.8,87.8,0.465,11.7,32.4,0.361,...,9.6,33.2,42.8,23.4,8.2,4.6,13.9,20.2,111.9,2020
28,29,Washington Wizards,72,17355,41.8,85.7,0.488,12.1,32.1,0.376,...,10.1,34.6,44.8,24.4,7.3,4.9,15.7,21.6,115.5,2020
29,30,Portland Trail Blazers*,74,17835,41.3,90.6,0.456,13.4,35.0,0.383,...,11.4,35.0,46.3,24.6,6.7,4.9,12.7,19.9,114.8,2020

In [90]:
team_poss_all['Team'] = [x.split('*')[0] if x.find('*') != -1 else x for x in team_poss_all['Team']]
team_poss_all.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,San Antonio Spurs,82,19755,42.8,85.9,0.498,0.6,2.3,0.252,...,12.8,27.9,40.7,25.8,8.6,3.7,17.6,23.3,108.6,1980
1,2,Los Angeles Lakers,82,19880,45.2,85.5,0.529,0.2,1.2,0.200,...,12.6,30.8,43.4,28.0,9.0,6.3,19.0,20.7,109.5,1980
2,3,Cleveland Cavaliers,82,19930,43.4,91.7,0.474,0.4,2.1,0.193,...,14.9,27.1,42.0,24.0,8.7,3.9,15.6,22.0,106.7,1980
3,4,New York Knicks,82,19780,43.3,87.4,0.496,0.5,2.2,0.220,...,14.1,26.2,40.3,25.8,10.0,5.2,18.4,24.7,106.5,1980
4,5,Boston Celtics,82,19880,42.6,86.9,0.490,1.9,5.0,0.384,...,14.4,28.9,43.3,25.9,9.5,3.6,18.1,23.2,109.4,1980

In [91]:
opp_poss_all['Team'] = [x.split('*')[0] if x.find('*') != -1 else x for x in opp_poss_all['Team']]
opp_poss_all.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,year
0,1,Atlanta Hawks,82,19780,38.6,84.3,0.458,0.6,2.2,0.251,...,15.5,28.7,44.2,21.6,8.4,6.8,20.4,26.6,102.3,1980
1,2,Portland Trail Blazers,82,19780,41.2,86.3,0.478,0.7,2.3,0.296,...,14.0,29.0,43.0,24.7,9.3,4.9,17.8,23.1,104.3,1980
2,3,Seattle SuperSonics,82,19830,40.5,88.3,0.459,0.7,2.9,0.246,...,14.3,28.6,42.9,24.0,8.7,4.7,18.1,23.7,101.2,1980
3,4,Philadelphia 76ers,82,19855,40.4,88.7,0.455,0.9,3.3,0.271,...,15.5,27.6,43.1,24.5,10.3,4.6,18.3,24.6,101.0,1980
4,5,Kansas City Kings,82,19805,39.1,82.1,0.476,0.5,2.0,0.238,...,13.4,31.0,44.4,20.9,8.2,5.0,20.7,24.3,101.0,1980

team_poss_all.to_csv(('team_100poss.csv'))

opp_poss_all.to_csv('opp_100poss.csv')